[2015-06-30 21:17] ProMcTagonist commented on #1378
:+1:  +  can we do it in translucent Tox Green instead?

[2015-06-30 23:37] zetok commented on #1378
@ProMcTagonist if green would be used instead of black-ish, then it would look bad..

[2015-06-30 23:40] zetok commented on #1378
uh, I've just realized that I've opened issue in wrong repo… sorry for spam. https://github.com/tux3/qTox/issues/1947 ← where it rightfully belongs

[2015-06-30 23:40] #1378 closed

[2015-07-05 17:12] lovetox commented on #1251
you should give this issue the highest priority

as some said before, tox can and never will be the future of online communication, if it is unusable on smartphones.

[2015-07-05 20:30] rr44 opened #1379 "Current situation of Tox"
It has come to my attention @stqism stole thousands of dollars that were donated to the Tox Foundation™ so he could pay for his college tuition.
Is that really the truth? What does @stqism has to say to defend himself and shed some light what kind of foundation the "Tox Foundation" really is and how its leaders behave? I heard accusations from @stqism that @irungentoo behaved with nepotism at the

[2015-07-05 20:35] mahkoh commented on #1379
Nonsense, tbh.

http://boards.4chan.org/g/thread/48852266

[2015-07-05 20:39] rr44 commented on #1379
@mahkoh why did you quit if not because of that?
That's the first step to clear all confusion! Everybody must tell their side of the story and explain the situation so we don't get lost in a sea of rumours that can't be trusted. We need more people like you to stand up and explain what's going on.

Especially the former 3 leaders of Tox: @stqism @irungentoo @Proplex
@Proplex left, according to wha

[2015-07-05 20:51] srkunze commented on #1369
@gravgun Is that not exactly what @v6 said about efficiency these days? These files are so small, it should not make any difference.

[2015-07-05 21:01] optimumtact commented on #1379
This isn't really an appropriate place to discuss this

[2015-07-05 21:02] hexafluoride commented on #1379
@optimumtact I'd like some light on this matter too.

[2015-07-05 21:03] rr44 commented on #1379
It's the place with most visibility.
This whole situation really needs an explanation to the community and most people of the community access this repository, so it is a good place (although it isn't perfect). Please don't enforce censorship, @irungentoo
Just make things clear and let us all of the community discuss the situation with you.

[2015-07-05 21:17] stal888 commented on #1379
fantastic

[2015-07-05 21:19] rr44 commented on #1379
@stal888
What's fantastic? That this issue was finally brought up for discussion, as it should long ago?
What's your take on it, as a Tox developer?

[2015-07-05 21:22] stal888 commented on #1379
@rr44 I would like you to come and neehpost with us in IRC

[2015-07-05 21:26] rr44 commented on #1379
I don't do IRC, sorry. Also, this is the place with most visibility for the community to discuss what matters. Could we go on?

[2015-07-05 21:29] stal888 commented on #1379
@rr44 no, sorry

[2015-07-05 21:40] mannol commented on #1379
sorry

[2015-07-05 21:50] urras commented on #1379
@rr44 I'm waiting for @irungentoo to make a statement on this matter too. However, in the past we're had issues with someone creating Github accounts for the sole purpose of slandering this project, which is why I'm concerned with your Github history. I do apologize if this seems a bit ridiculous, but you have to understand that in the past we've been spammed by a single user who appears to be inc

[2015-07-05 21:53] rr44 commented on #1379
You can see I have had this account for 2.5 years, so I'm surely not that person that creates many accounts. Also, why would it even matter since this is such a **huge** concern from the entire community?
I'm really sorry if this isn't what's going on, but it appears to me you guys are trying to change focus with all this off-topic talk about IRC, etc.

[2015-07-05 21:57] irungentoo commented on #1379
Yes @stqism stole 3K USD from the foundation, I trusted him and it turned out to be a mistake. We all hope that he will repent and give the money back.

I think everyone (Including myself) has learnt from this and we will make sure that something like this won't ever happen again.

The rest of your post is almost entirely blatant lies, how dare you use this issue to push your own shit across.

[2015-07-05 22:08] rr44 commented on #1379
@irungentoo then explain some things for us:

1. Why did you let @Proplex @Astonex and other developers quit after all they've done? They left because they thought @stqism was acting in a shady way with donations and you wouldn't listen, right?

2. You were supposed to be a part of Tox Foundation and stq told everyone you were, but apparently this wasnt the case and stq was the only board member.

[2015-07-05 22:15] Zer0-One commented on #1379
@rr44 regarding #5, we ARE trying to put up an explanation, but we keep having shitty infrastructure trouble. We'll post something once we're done scrambling to put certain pieces back together.

IMO, having this conversation here and now is counter-productive. We'll address all of your concerns, even your ridiculous notion that there is a "cover-up" going on, when we're ready and able.

[2015-07-05 22:17] rr44 commented on #1379
Well, I'm not only interested in Tox explanation.
We should also hear the other side of the story from @Proplex @stqism @Astonex and all others.
As they don't have fancy sites like http://tox.im that everyone access, this place is a good medium for a raw discussion on this matter.
This is what's needed, a debate. A fruitful discussion.
Let's wait for irungentoo to addresses the 5 points I exposed

[2015-07-05 22:23] urras commented on #1379
@rr44 I'm not trying to change the focus of this discussion at all. You're original post is partially right, nonetheless. Stqism stole a lot of money, lots of really great people have left the project (though many of them just stopped contributing, which happens a lot in open source projects), and we've had a ton of internal conflict regarding everything that's happened. But I'm still not convince

[2015-07-05 22:24] optimumtact commented on #1379
Most of them have moved on and are not likely to comeback to discuss what happened.
Astonex has documented their thoughts on their blog https://markwinter.me/ but most of the others have not publicly commented and will not likely do so

[2015-07-05 22:25] stal888 commented on #1379
I'm sorry for your loss.

[2015-07-05 22:28] rr44 commented on #1379
Our loss, @stal888
What I donated went to the Tox Foundation and the embezzlement that happened is a loss for the entire community.

[2015-07-05 22:30] stal888 commented on #1379
@rr44 It's ok, we can rebuild tox to be stronger.

[2015-07-05 22:30] rr44 commented on #1379
How?

[2015-07-05 22:33] stal888 commented on #1379
By making Tox proprietary. If Tox isn't a community project, then nobody can criticize us

[2015-07-05 22:36] ProMcTagonist commented on #1379
stal has been deployed, everyone bail

[2015-07-05 22:36] rr44 commented on #1379
But then we can't know if Tox is secure. We need the source code (and independent security audits of course).

[2015-07-05 22:37] optimumtact commented on #1379
They're just saying these things to get a rise out of you, just ignore them

[2015-07-05 23:09] theCoolkal commented on #1379
stq was the heart and soul of Tox.  Tox has been killed.

[2015-07-06 02:05] stqism commented on #1379
@rr44

Not at all, I was more or less forced in to choosing irungentoo's brother for GSoC.

[2015-07-06 02:16] optimumtact commented on #1379
Was that before or after you stole 3000 dollars?

[2015-07-06 02:22] JFreegman commented on #1379
@rr44 I'd appreciate it if you would stop pretending to speak on behalf of 'the community'. You are not speaking on behalf of anyone but yourself. If you want this to be taken as something more than concern trolling you could start by using a name that 'the community' is familiar with, instead of a sockpuppet.

[2015-07-06 02:32] stal888 commented on #1379
@stqism Tell me more about drakefish and @irungentoo

[2015-07-06 02:34] subliun commented on #1379
@stqism message me on IRC bby ;)

[2015-07-06 02:35] optimumtact commented on #1379
@stal888 lot of loyalty for a hired gun

[2015-07-06 02:39] stal888 commented on #1379
@stqism Also, tell us more about how last year's GSoC "mentors were all lazy fucks too" and how you "forced subpar students who hardly did much work through just to make ourselves look good"

[2015-07-06 02:48] IRIXUser commented on #1379
With respect @rr44 you do not have any standing in the Tox community; as such, you cannot claim to speak for it.

I design and develop XwinTox ( https://github.com/IRIXUser/XwinTox ) and need nothing other than peace and quiet and the calm development of Tox in other areas in order to do so. I have confidence in the Tox leadership to deliver that peace. Your issue comment matches the standard form

[2015-07-06 02:54] hexafluoride commented on #1379
@optimumtact perhaps he is wondering why someone would shoot a man before throwing him out of a plane

[2015-07-06 03:06] CloverField commented on #1379
He's a big guy.
On Jul 5, 2015 10:55 PM, "hexafluoride" <notifications@github.com> wrote:

[2015-07-06 03:06] Proplex commented on #1379
What is this, saw it on a /g/ thread?

http://hastebin.com/ucopakarek.xml

[03:35:54] <AlexStraunoff> In my two years I've gotten a lot of dirt on a lot of higher up Tox folks, been blackmailed, etc.
[03:35:58] <AlexStraunoff> should I tell my story?
[03:36:03] <AlexStraunoff> Thinking a blog post somewhere

AlexStraunoff is stqism.

[2015-07-06 03:09] hexafluoride commented on #1379
@Proplex pls come back on IRC

[2015-07-06 03:10] stal888 commented on #1379
I agree with @hexafluoride's assessment of the current situation

[2015-07-06 03:12] ProMcTagonist commented on #1379
Don't involve him, you'll never get anything but weasely bullshit.

Get the money back and forget about him already

[2015-07-06 03:22] rr44 commented on #1379
@IRIXUser

What does that even mean?

Julian is a boy, it's disrespectful to use the pronoun "her" when referring to him.

Please, I beg you to do so. This is what this thread is for (hopefully it isn't censored any time soon). But we must be sure to hear both sides, not only what the current tox members have to say. In my own investigation I got some things cleared up, but not near enough. Everyt

[2015-07-06 03:24] stal888 commented on #1379
Please stop being sexist.

[2015-07-06 03:24] rr44 commented on #1379
@stal888
sorry?

[2015-07-06 03:25] stal888 commented on #1379
Apology accepted. Please edit your comment.

[2015-07-06 03:27] IRIXUser commented on #1379
A concern troll, @rr44, is someone who uses the cloak of genuine concern to conceal trolling.  Your concerns, being - let's be honest here - pretty wild, are a close fit to the archetypal concern troll. Your concern over my purported misgendering of @mahkoh is another example that fits this mould. Julian is a woman -  she herself has told me this - so there is no disrespect in using her preferred

[2015-07-06 03:28] rr44 commented on #1379
@stal888
I heard from an internal source just now that a person who once applied for a position on the Tox Foundation had his personal information leaked after sending a classified resume to the members of the foundation. Has the leaker ever been found? This would be relevant to assess the current situation.

[2015-07-06 03:31] stal888 commented on #1379
@rr44 I can neither confirm or deny that such an incident occurred, but hypothetically if such an incident did happen I wouldn't be able to reveal information about it due to NDAs. If you wish to contact me directly, you should e-mail me `stal` at `zodiaclabs.org`

[2015-07-06 03:32] rr44 commented on #1379
@stal888 But if you can "neither confirm or deny that such an incident occurred", why do you give me your email? You won't be able to answer this important question any way, will you? Or am I missing something here?

[2015-07-06 03:32] hexafluoride commented on #1379
@rr44 disregard stal

[2015-07-06 03:33] stal888 commented on #1379
@rr44 I like company.

[2015-07-06 03:35] IRIXUser commented on #1379
If you wish to develop for the XwinTox Framework ( http://github.com/IRIXuser/XwinTox ) then you may request information on the current design proposals, as well as put forward your address to which a free CD with the XwinTox Framework 2 SDK onboard will be sent when it becomes available.

[2015-07-06 03:35] rr44 commented on #1379
@stal888 Sorry, I'm not hear for that. I just want to clear things up concerning the (un)ethical of the Tox Foundation former/current members. Maybe @stqism was the only rotten piece of the foundation as @irungentoo and others claim, but the community is not sure of that, given the recent response...

[2015-07-06 03:40] linux-modder commented on #1379
As  a   member of several projects on gh  and user of qtox I personally demand open discussion here or an immediate audit of the code as  no bullshit  toxcore is gettign VERY  fucking script kiddie-ish

[2015-07-06 03:41] stal888 commented on #1379
@linux-modder Ok

[2015-07-06 03:42] dylygs commented on #1379
@linux-modder hey man, I mean, if you have the dough...

[2015-07-06 03:42] JFreegman commented on #1379
@linux-modder Your demands will be met immediately upon receiving adequate funds.

[2015-07-06 03:43] rr44 commented on #1379
@Proplex
Are you in good terms with Tox?
What happened after this? http://postimg.org/image/97b7klppl/full/
Write a blog post with your opinions, my good friend. We miss you.

[2015-07-06 03:43] subliun commented on #1379
@rr44 I like Antox. Do you like Antox too? Maybe you'd be less upset if you used Antox.

[2015-07-06 03:44] stqism commented on #1379
No one called anyone out for anything lmao

I never once discussed any students performance publicly outside of blog posts.

Could have failed em all, would have gotten the same amount

[2015-07-06 03:45] urras commented on #1379
@rr44

There you go again with that whole misrepresenting the community thing. I do, however, miss @Proplex dearly.

[2015-07-06 03:46] dylygs commented on #1379
@Proplex You should come back now that stq is gone. I promise not to call you pooplex :3

[2015-07-06 03:47] subliun commented on #1379
I miss @Proplex too.

[2015-07-06 03:47] rr44 commented on #1379
@urras
You say I misrepresent the community and then say you agree with my statement of missing @Proplex? What are you going on about? The majority of the community misses @Proplex, that's a fact. The repercussion was huge when he (was forced to) leave.

[2015-07-06 03:47] stqism commented on #1379
@rr44

You're literally spreading made up FUD right now.

[2015-07-06 03:48] stqism commented on #1379
@urras

is a textbook neeh quote lmao

[2015-07-06 03:49] rr44 commented on #1379
@stqism
About what, exactly?
Please clear things up.
As I said, there are lots of rumours going around and we don't know what to believe. Tell us what happened from your side of the things and let other Tox Foundation members give their own side of the story. Let's have a fruitful discussion and try to get a conclusion after this entire messy situation.

[2015-07-06 03:49] urras commented on #1379
@rr44 I just don't think you should really be able to speak on behalf of the community, honestly. You've done everything you could to damage it over the past two years.

[2015-07-06 03:50] stqism commented on #1379
@rr44
I don't actually care enough to read everything you wrote but replying to https://github.com/irungentoo/toxcore/issues/1379#issuecomment-118706647 would be a start :)

[2015-07-06 03:56] rr44 commented on #1379
@urras
I think you are confusing me with someone else.

@stqism

Calling out tox foundation for passing red2: http://rbt.asia/g/thread/S43899815#p43905031
Calling out henotba: http://rbt.asia/g/thread/S42608981#p42619040
Calling out last year's GSoC: http://rbt.asia/g/thread/S45810085#p45819572
I could go on...

You did on IRC, but I don't have any logs since I don't do IRC any more due to the tox

[2015-07-06 04:00] stqism commented on #1379
@rr44
I don't regard 4chan as the community, just a bunch of weirdos posting things anonymously while acting like they are several more weirdos. Something you might be familiar with on github.

You can't prove this

Totally unrelated to the point you tried to raise

[2015-07-06 04:01] urras commented on #1379
Remove neeh

[2015-07-06 04:02] subliun commented on #1379
@rr44 does github allow multiple accounts now neeh? I thought that was against the rules.

How's life? Did anybody end up hiring you? I hear your resume got quite the publicity back in the day.

[2015-07-06 04:02] stqism commented on #1379
@subliun

I hear he's still the talk of his village.

[2015-07-06 04:04] stal888 commented on #1379
So are you going to pay gentoo back?

[2015-07-06 04:05] rr44 commented on #1379
@stqism
How can you disregard 4chan as the community if it was the birthplace of Tox and where all discussions happened? Devs even had their own tripcode https://rbt.asia/g/?task=search2&search_username=ToxDev&search_tripcode=!!nDqBH9ZDe0%2F
Also, on IRC it would also constantly be brought up, 4chan was an example because there are archives. Stop pretending that isn't the community.
Also, don't yo

[2015-07-06 04:05] stqism commented on #1379
@stal888 He's been getting reimbursed for his out of pocket expenses with random payments out of the blue, but sooner or later I feel like he'll have been compensated.

[2015-07-06 04:07] rr44 commented on #1379
@stqism
Will you account for the time he went without money? Interest should be taken into account, especially since it's taking so long.
An explanation on your part would also be nice. You don't just steals money like that and act as if was no biggie because you would *supposedly* pay back later.

[2015-07-06 04:07] ProMcTagonist commented on #1379
@stqism shouldn't you be looking for a job to pay back the money you stole from donators before you get jailed for embezzlement

@rr44 because everyone on cuckchan is a muhIPtard who doesn't understand computer networking and anyone worth anything left. Communities change.

[2015-07-06 04:07] stqism commented on #1379
@rr44 Confirmed neeh, /g/ + Tox shitposting after several months.

Also what? you changed the topic for the last point suddenly

[2015-07-06 04:09] stqism commented on #1379
@ProMcTagonist
I have to commit embezzlement to get jailed for it lmao

[2015-07-06 04:09] rr44 commented on #1379
@ProMcTagonist
Don't you agree they raised a good point, though?
How the hell did a student who contributed 762 lines of code (counting blank lines and his mentor own commits) pass "with flying colors" the GSoC? 3 months to deliver absolutely nothing and he still passed? But the Tox Foundation ignored the issues raised with that until people forgot about it.

[2015-07-06 04:10] rr44 commented on #1379
@ProMcTagonist
stqism can't go to jail for embezzlement because Tox wasn't a charity, so it doesn't apply.
The Tox Foundation members were absolutely irresponsible and accepted donations without being legally a charity, which opened a backdoor to stqism (steal money without any consequences)

[2015-07-06 04:11] optimumtact commented on #1379
It's not irresponsible to trust someone to not be ethically and morally backwards

[2015-07-06 04:12] stal888 commented on #1379
You should also give tox.im back

[2015-07-06 04:13] rr44 commented on #1379
It is, @optimumtact
If you are going to accept donations and take people's money to do a certain thing, you should be sure it's going to be okay.
The **minimum** thing to do is be a proper charity and transparent with money transactions.
@Proplex brought this up and when all others told him this wasn't important, he quit (with reason). He was the only responsible guy who didn't want to keep workin

[2015-07-06 04:15] JFreegman commented on #1379
@rr44 you're just making things up now.

[2015-07-06 04:17] rr44 commented on #1379
@JFreegman

http://archive.is/MajJV

I dare you to say those logs aren't true.
@Proplex can confirm it.

[2015-07-06 04:18] subliun commented on #1379
@rr44 a job down at maccas eh? That's pretty good. I'm glad you're off the street at least.

I don't know how you find the time for all this shilling though. Between working on antox and whining about new groupchats, I barely have any time left in the day for some good shilling. Teach me your secret, neeh.

[2015-07-06 04:20] rr44 commented on #1379
Yeah, @JFreegman
Now you shot yourself in the foot, right?
https://gist.github.com/Syrup-tan/afd3f135c62077813d3c

[2015-07-06 04:21] JFreegman commented on #1379
@rr44 you're proving my point for me...

Does that sound like not caring?

[2015-07-06 04:22] rr44 commented on #1379
That was DAVID caring. @Proplex
And it shows ALL other Tox members didn't (including irungentoo) and that was what made David quit (dealing with money without responsibility and in shady ways).

[2015-07-06 04:22] subliun commented on #1379
@rr44 you live at home? I suppose that gives you a bit more time. Maybe you're just a better shill than me. You certainly are good at creating characters. That's another skill you could teach.

[2015-07-06 04:24] JFreegman commented on #1379
@rr44 you showed a log involving 4 tox devs, 2 of which were arguing for more transparency, including myself. I think you need to look up what the word 'all' means.

[2015-07-06 04:25] rr44 commented on #1379
All others were on the channel, @JFreegman
Just ask @Proplex and let's see what he has to say.
The Tox Foundation was irresponsible with money.
Can't you accept that and move forward?

**The Tox Foundation was irresponsible with donated money by not setting itself properly as a charity before accepting donations.**

Are you really going to deny this?

[2015-07-06 04:26] subliun commented on #1379
@rr44 your avatar is really cute.

[2015-07-06 04:27] JFreegman commented on #1379
@rr44 That's called a straw man.

[2015-07-06 04:28] subliun commented on #1379
@rr44 have you ever tried Antox? I hear it's all the rage these days.

[2015-07-06 04:28] JFreegman commented on #1379
@subliun And that's called a lie. Toxic is the one true Tox client.

[2015-07-06 04:28] stal888 commented on #1379
@JFreegman wrong. uTox is the future.

[2015-07-06 04:29] subliun commented on #1379
@stal888 deep purple 700 is the colour of the one true android tox client.

[2015-07-06 04:29] rr44 commented on #1379
@JFreegman
If the Tox Foundation was sure to set itself up as a proper, registered, charity before it started accepting donations, @stqism wouldn't have been able to steal the $3000+ he did without facing jail for embezzlement.

The Tox Foundation was irresponsible. Why can't you accept this simple fact?

[2015-07-06 04:30] subliun commented on #1379
@rr44 you're holding a spoon and you have a little hat too. such a qt.

[2015-07-06 04:30] hexafluoride commented on #1379
hot pockets

[2015-07-06 04:35] subliun commented on #1379
@rr44 I liked it so much now it's my avatar too.

[2015-07-06 05:34] two-dogs commented on #1379
i want to know one thing, is Tox safe?
and take who ever took the money to court, let a judge decide.

[2015-07-06 05:36] linux-modder commented on #1379
Regarding the audit @stqism  can pay for it as a final good will "I fucked up " measure although it WILL NOT get him back in the project and I'm beginning to come of the mind to take the same heat to @irungentoo  for his apparent complacency and  recent BS about being the only dev on the core development when docs are hard as shit to find or understand and he is "apparently complicating" more and

[2015-07-06 08:30] LittleVulpix commented on #1379
@irungentoo, I thought a while back, threads like this were closed with the "this is not a discussion forum but a code repo". Why not do the same here? I understand the concerns but if people have a non-technical issue with tox, this is NOT the place to post them. Go talk about them on IRC or whatever. Maybe a post on the tox blog would be good or something.

[2015-07-06 09:53] gravgun commented on #1369
@srkunze The difference indeed isn't that significant, but that's a triple downside (bigger file, bigger code, longer load/save) versus the only pro it brings, that is, being able to edit a file by hand, which *doesn't contain text data*. It's just not worth it.

[2015-07-06 10:12] The-Feminist-Software-Foundation commented on #1379
I'm sorry, but why is it considered wrong for an economically impoverished student to use money so that xe can use the education to climb the social ladder?

I sounds like the Tox developers are just trying to reinforce social classes and privileges by dictating the use of money to developing some fringe tinfoil hat encryption software instead of supporting an oppressed individual.

If you're not

[2015-07-06 10:22] stal888 commented on #1379
trigger warnings: calling out, mentioning of oppression

Tox fills an important niche in today's tech reality. We have all these other instant messaging solutions, but all of them fail at serving as a safe avenue of communication for oppressed pyople. Tox is the only messaging program that subverts the cis-het-white patriarchy that permeates all other solutions out there. Tox is a safe space for w

[2015-07-06 13:35] pruebauah commented on #1379
Tox sounds more and more like a joke to serious people who that look over it.

It was nothing more than a project for social and technical inept from 4chan, as this comment thread on GitHub proves. You have a guy asking legitimate questions and 90% of the responses are just shitposting while 5% are trying to attack the poster's credibility and the remaining 5% are people saying "We shouldn't discu

[2015-07-06 13:57] ArchangeGabriel commented on #1379
@pruebauah I approve, and mind about switching to ring.cx.

[2015-07-06 14:00] suhr commented on #1379
Wasn't where a special other place for such discussions?

[2015-07-06 14:00] zetok commented on #1379
@pruebauah

I don't think that this is the case here, since… large part of those "questions" is written in a way that insinuates whatever bad things OP wants to put on Tox/people working on it. Are you really surprised that people react in that way when someone comes out of nowhere, claims to be "the voice of “community”" and starts "asking", while making people look as bad as possible?

Also, you

[2015-07-06 14:02] ArchangeGabriel commented on #1379
@suhr Yes, but it was deleted without any explanations, removing lot of traces of the past problems.

[2015-07-06 14:03] zetok commented on #1379
@ArchangeGabriel someone decided that since there is a mailing list, discussion can take place there, and that repository is no longer needed.

[2015-07-06 14:08] ArchangeGabriel commented on #1379
@zetok And what about all the informations it contained?

[2015-07-06 14:09] zetok commented on #1379
@ArchangeGabriel sadly, that was thought of after repo was deleted `:/`

[2015-07-06 14:10] suhr commented on #1379
Damn you @irungentoo. You can't that ~~auti~~ socially careless.

[2015-07-06 14:11] zetok commented on #1379
@suhr that wasn't @irungentoo. *If my memory serves well*, it was @stqism who removed that repo.

[2015-07-06 14:14] suhr commented on #1379
Whatever. We need it back! Mail lists doesn't count.

[2015-07-06 14:21] ErdeFB commented on #1379
I'd like to hear an explanation to some concerns raised here as well. No matter in what way @rr44 decided to form his criticism, some things he says still needs to be addressed imho.

[2015-07-06 14:27] zetok commented on #1379
@pruebauah , @ArchangeGabriel , @ErdeFB right.

https://github.com/Tox/Tox-Discussion repo for discussion. Open issues for what you want to ask about - and please keep it polite.

I for one am not going to answer to things here, given the way in which they were asked.

[2015-07-06 15:03] rr44 commented on #1379
Thing is, 704 people are watching this repository, so it's the best place for visibility.

Creating a new repo called that has 0 followers sounds like just an attempt to cover this up and get less visibility to true issues happening on Tox.

Sorry if you think I came across as rude, but given the nature of this project and all the fishy stuff surrounding it lately (especially the donation money th

[2015-07-06 15:07] TheLastProject commented on #1379
@rr44 Don't mention random unrelated people again and then change your message to hide it:
![mention](https://cloud.githubusercontent.com/assets/1885159/8525467/540867da-2401-11e5-91ae-1f4b410efd00.png)

[2015-07-06 15:09] rr44 commented on #1379
Those aren't random people.
All participated in Tox before (except @ioerror but he showed interest in it in 2014 and I think it's important for him to understand the current situation).
I edited because I realized some people reading it wouldn't understand why I quoted them (which really happened with you).

Sorry for the confusion.

[2015-07-06 15:10] zetok commented on #1379
Visibility doesn't matter when no one is going to answer questions here.

It's not.

Ask questions **properly** in that repo and they will be answered. → https://github.com/Tox/Tox-Discussion/issues

[2015-07-06 15:13] rr44 commented on #1379
@zetok
I don't see the issue of keeping discussion here when there are 28 participants already.
If the Tox Foundation could simply clear our concerns here, all would be fine.
Why a new repo with 0 participants, 0 followers and not a single issue opened?

Anyway, let's discuss a technical issue I heard in the past.

@stqism claims Tox developers have "NIH syndrome" (not invented here) and reinvent

[2015-07-06 15:22] suhr commented on #1379
Basically because this is *not* a toxcore issue, this is a tox community issue. This issue actually had to be redirected at its start.

[2015-07-06 15:24] theCoolkal commented on #1379
@rr44

Fair enough to say that about some of the clients, but what "proven secure libraries" should Tox use for networking?  Tox is the networking library.  It already uses a proven, secure library for encryption, but things like µTox having its own UI toolkit isn't much of a security concern.

[2015-07-06 15:24] ArchangeGabriel commented on #1379
And because they are multiple concerns, and each one should get a dedicated issue in order not to clubber the discussion.

[2015-07-06 15:27] Impyy commented on #1379
Exactly what @suhr said. The 700+ people that are watching this repo care about the development of toxcore, not necessarily all of the drama that goes on in the community.

Join #tox-real-ontopic on freenode or open an issue at [Tox-Discussions](https://github.com/Tox/Tox-Discussion/issues) and we can discuss this, but not here.

[2015-07-06 15:40] rr44 commented on #1379
@theCoolkal

It is a huge security concern!

https://github.com/notsecure/uTox/issues/203
https://github.com/notsecure/uTox/issues/265

[2015-07-06 15:51] Proplex commented on #1379
@irungentoo should've closed this issue when he first saw it, if you wanted to keep it in Tox-Discussions. But instead, he even replied to it. Trying to shove this issue off to an empty repository sounds more like sweeping things under the rug, whether or not there's actually anything to be sweeping.

Granted, @rr44 seems to enjoy spreading FUD, and shows a lot of being a concerned troll, but Tox

[2015-07-06 15:56] rr44 commented on #1379
@Proplex what do you think about making a statement on your views of the Tox Foundation as a whole, given you were one of the most important part of it until just recently, when you were obliged to quit because of the shadiness involving money donations and all that?

The PR of Tox really is disastrous, I grant you that. Good were the times when you dealt with it, too bad you had to leave.

[2015-07-06 15:59] Proplex commented on #1379
@rr44 This issue is about the current situation of the Tox Foundation/development team, in regards to missing money and poor communication. It is not about what I feel about Tox. Stick to the topic you started.

[2015-07-06 16:00] rr44 commented on #1379
@Proplex good enough. Hope you deal with that other issue at a future time. I miss you, my friend.

[2015-07-06 16:10] IRIXUser commented on #1379
Personally I continue to take the view that censorship of anti-Tox discussions such as these is the way forward. 'Free and open discussion' is a trap. Consider allowing a racist to take a prominent platform and thus further racist ideology. It's not useful. It does not 'expose' anything. It just legitimises dangerous discourse.

But, given this is not considered a workable solution, I instead sugg

[2015-07-06 16:15] v6 commented on #1369
// , Do you think the use of a file format brings only the pro of "being
able to edit a file by hand*"*, Wouters Dorian? Ought it to never really "
*contain text data"? *

On Mon, Jul 6, 2015 at 2:54 AM, Wouters Dorian <notifications@github.com>
wrote:

[2015-07-06 16:15] theCoolkal commented on #1379
@IRIXUser
Why do people working on Tox, the ultimate **free** software replacement for Skype, not care about freedom?

[2015-07-06 16:15] rr44 commented on #1379
Censorship is never the way forward. Even more for Tox that claims to promote freedom.

What the hell?! This is the most atrocious thing I heard so far.

This has nothing to do with the issue at hand. Real concerns were raised, from stolen money that users donated to nepotism on the GSoC. Stop trying to change the focus, please. Using the "racism" flag won't work here.

For once the Tox Foundation

[2015-07-06 16:19] Proplex commented on #1379
@IRIXUser Are you aware you just supported censorship and called free speech a trap, on an issue tracker for a program that is a tool to be used for free speech?

This is _exactly_ what I'm talking about. There is no thought into what's being said on an issue that's email-blasted out to a large amount of people. Tox is on the defensive right now. Everything you say is going to be analyzed, over-an

[2015-07-06 16:25] rr44 commented on #1379
Are these the current members of the Tox Foundation?
https://github.com/orgs/Tox/people

Step up and explain the situation, please.
@aitjcize @dubslow @irungentoo @itsrachelfish @JFreegman @nurupo @pwnsdx @TheLastProject @tox-bot @urras @zetok

1. It was completely irresponsible to accept money without being a proper charity, it allowed @stqism to steal thousands of dollars without being legally p

[2015-07-06 16:27] TheLastProject commented on #1379
@rr44 I have write rights due to it simplifying my contributions related to the website. Aside from an user and occasional contributor, I have nothing to do with Tox.

[2015-07-06 16:28] urras commented on #1379
@rr44 I tried to distance myself from the donation stuff, or really anything that dealt with money. I wasn't aware that there had been some sort of incident until a few weeks after it had happened actually. It just wasn't my department.

[2015-07-06 16:34] stal888 commented on #1379
I don't know what we're waiting on.

[code]

[2015-07-06 17:09] subliun commented on #1379
@rr44 your avatar is really cute.

[2015-07-06 17:11] subliun commented on #1379
@rr44 you make good points though neeh. I wish you wouldn't be so shady about it. There's no need to keep creating these accounts every few months.

[2015-07-06 17:22] pwnsdx commented on #1379
Hello,

For my part, I'm just the guy who made the website and the OS X app (design only) in December. I was supposed to finish the website but I got a heavy calendar. I plan to resume the developement of the website soon and OS X design as soon as a developer will start the app.

So yes and no, I'm not an active member but I am one.

Cheers,
S.

Envoyé de mon iPhone

[2015-07-06 17:26] srkunze commented on #1369
@gravgun There are libraries (e.g. for json) which handle all the nitty-gritty details. I would only dismiss readability and usability (diff, git etc.) for a very good reason. Not saying, the change is necessary, but if you touch that format, I would love to see a json version of it. ;)

[2015-07-06 17:39] suhr commented on #1379
@rr44

Not a toxcore issue. Tox is a library and have a lot of clients. uTox is the most known one, but it shouldn't be considered as an official one.
Actually I should admit: **uTox considered harmful.** It have its own NIH gui, it have one of the worst UI/UX beside all gui clients, it had serious security issues, and it's full of low quality C code.
It shouldn't be used. Toxy and qTox should be

[2015-07-06 18:42] FRIGN commented on #1379
Hello,

I'm one of the two developers of Ratox (http://ratox.2f30.org/) and would like to share my opinion here.
When we chose to develop this piece of software, there was already some stir-up in the tox community, but we chose to do it anyway, because we think the toxcore is a clean piece of code and most other clients suck(ed).

Since the last API-change a few weeks ago, we've been getting a lot

[2015-07-06 18:50] suhr commented on #1379
@FRIGN API changes are so massive so it's easier to rewrite core stuff than fix it. So documenting api changes is not helpful.
But current API is pretty good documented.

[2015-07-06 18:59] FRIGN commented on #1379
@suhr I respect how you prefer to do it, but that's my personal opinion I expressed above. Documenting API changes, even in big changes and for the sake of pinpointing is a minimal thing I'd expect from any project. However, let's not discuss that.
I was making a point about a completely different matter, and I hope you'll be able to talk about this as fluently as discarding my point about documen

[2015-07-06 20:00] nurupo commented on #1379
I think you are confusing Tox contributors, who have joined Tox GitHub organization in order to push things directly to repositories rather than creating PRs, with the Tox Foundation, which is a U.S. registered organization created by stqism that was made primarily as an outlet for donations. As far as I know, Tox Foundation is just one person -- stqism.

[2015-07-06 20:24] pwnsdx commented on #1379
Yes, the other people (including me) are members of the online Tox activities (contributors), not of the U.S. organization. I think stqism is the only one person too.

[2015-07-06 21:30] Profpatsch commented on #1379
Wow, that must be the biggest concern troll I’ve ever seen.

[2015-07-06 21:49] rr44 opened #1380 "Some critical issues with Tox (organizational and technical)"
It would be nice if @irungentoo and other Tox Developers could answer the following questions in order to clear up the confusion surrounding the current state of the Tox Foundation. As discussed on https://github.com/irungentoo/toxcore/issues/1379 this is the repository with more visibility and the proper place to discuss this issues, as @Proplex pointed out. So please, do not enforce censorship l

[2015-07-06 21:49] rr44 commented on #1379
@Profpatsch
A concern troll? Don't come with that again.
If the concerns raised aren't real, just counter-argument them in a rational way.
Instead developers and shills keep calling everyone a troll and whatnot instead of discussing this properly.
If someone is "trolling" in this thread it's the devs trying to avoid the questions.

Here we go: https://github.com/irungentoo/toxcore/issues/1380

A b

[2015-07-06 22:01] irungentoo commented on #1380
Why make a new thread?

[2015-07-06 22:01] #1380 closed

[2015-07-06 22:02] rr44 commented on #1379
@irungentoo
Because the last one (this thread) is a mess and people aren't following the flow of thought.
I suggest you close the old thread, re-open the new one, and answer the questions above so we can have a rational debate on the matters, please.

[2015-07-06 22:08] theCoolkal commented on #1379
What is your Tox ID, @rr44 ?

[2015-07-06 22:09] rr44 commented on #1379
I don't use Tox, @theCoolkal
I try to stay away from shady software that doesn't respect its users (that's what Tox currently is from the community's point of view)

[2015-07-06 22:11] theCoolkal commented on #1379
@rr44 Fair enough.  Are you on any IRC networks or XMPP?

[2015-07-06 22:12] rr44 commented on #1379
@theCoolkal Please, stop the off-topic discussion and answer the concerns raised.
You're changing focus once again.
I'll reiterate the points that still weren't cleared up.

1. It was completely irresponsible to accept money without being a proper charity, it allowed @stqism to steal thousands of dollars without being legally punished. If Tox was a charity, @stqism would face embezzlement. Is the

[2015-07-06 22:15] theCoolkal commented on #1379
@rr44 I have nothing to do with Tox and can't answer any of these questions.  I just wanted to talk to you.

[2015-07-06 22:17] rr44 commented on #1379
This isn't the place, sorry.

[2015-07-06 22:20] theCoolkal commented on #1379
@rr44  That's why I'm asking if you have Tox / XMPP / IRC so I can talk to you there.

[2015-07-06 22:21] JFreegman commented on #1379
To everyone who does use or develop for Tox (i.e. real community members), there will be a blog post clearing everything up regarding the stolen money situation in due time; right now we're still in the process of rebuilding our infrastructure (we need a blog before we can post on it). Despite what this person is claiming, we do not take the situation lightly at all and are taking measures to ensu

[2015-07-06 22:21] rr44 commented on #1379
Great! But what about all the other issues raised up above?

[2015-07-06 22:39] urras commented on #1379
Fuck you all, this sucks.

[2015-07-06 22:42] pwnsdx commented on #1379
I just read the whole thread, I didn't knew that stqism stole the donations and the project was in a such bad situation… I hope you will overcome that.

S.

Envoyé de mon iPhone

[2015-07-06 22:50] stal888 commented on #1379
@urras No one told you to be here. Enjoy the ride.

[2015-07-06 22:50] urras commented on #1379
@stal888 thank mr skeltal

[2015-07-06 23:22] rr44 commented on #1379
Look what I found.

https://rbt.asia/g/thread/S44164183

You guys have been warned about stqism since **at least** September 2014 but ignored the warnings and kicked out the Tox Member that brought up the issue. Way to go!

Can we at least get an answer to all the concerns raised so far?

@irungentoo explain yourself.

[2015-07-06 23:34] optimumtact commented on #1379
What do you want out of all of this?

There is no way anyone can afford legal means to deal with stqism, nor is there a strong legal case.

Gentoo already apologised about the tracking?

Do you have anything constructive to add or are you just happy to repost the same things over and over again?

[2015-07-06 23:38] rr44 commented on #1379
@optimumtact
I want an answer to the following points and I don't understand why @irungentoo and other Tox Developers keeps ignoring these important issues.

https://github.com/irungentoo/toxcore/issues/1380
https://github.com/irungentoo/toxcore/issues/1380
https://github.com/irungentoo/toxcore/issues/1380
https://github.com/irungentoo/toxcore/issues/1380

[2015-07-06 23:41] Profpatsch commented on #1379
@rr44 You are a bad person and I think you should know that.

[2015-07-06 23:42] stal888 commented on #1379
@rr44 I like your resume

[2015-07-06 23:44] IRIXUser commented on #1379
Hello Toxers,

I've decided to stop playing ignorant of the extent of the genuine concern here on the issue. As such, please take note of my perspective, as someone who can't claim to be inside of the 'Core Tox Cabal' (something which I will explain later), but as someone who was formerly, and who remains privy to a lot of Tox chats. I will also take this opportunity to apologise to @rr44; while I

[2015-07-06 23:45] stal888 commented on #1379
What's this cabal?

[2015-07-06 23:47] IRIXUser commented on #1379
Hello @stal888,

I use the term 'core cabal', or 'beaurocracy', to refer informally to the community-within-the-community emergent of the Tox secret channel.

Thanks,
- Sagem  -- Chief Architect, XwinTox. Former Tox Cabal member.

[2015-07-06 23:49] rr44 commented on #1379
@IRIXUser

Tox advertises itself as a completely secure software that prevents the government or anyone else to spy on you. It has been advertising itself like this since 2013! That's also hugely irresponsible, since there hasn't been a security audit. Users could be really hurt by this. It's absolutely misleading to advertise Tox as secure without a proper security audit. What has to happen for y

[2015-07-06 23:50] stal888 commented on #1379
Dear Sagem, Chief Architect, XwinTox. Former Tox Cabal member,

I'm not aware of this "secret channel". Care to explain further?

Sincerely
- Dr. A. L'mao, Director of Engineering, Zodiac Labs.

[2015-07-07 00:34] Proplex commented on #1379
@IRIXUser @irungentoo is the CEO of the bureaucracy, what do you mean he doesn't speak for it?

His name has been censored because, according to my knowledge, he still hasn't made it public. But in the filing done by @stqism, @irungentoo was marked as CEO.

![tox_1](https://cloud.githubusercontent.com/assets/2215601/8536353/13eb0190-241e-11e5-9b01-dcaa83197ee3.jpg)

[2015-07-07 00:40] nurupo commented on #1379
@Proplex
The question is whether he actually sent it in or not. Is there a way to check?

[2015-07-07 00:42] Proplex commented on #1379
@nurupo Yes, http://kepler.sos.ca.gov/
Lookup either "Tox Foundation" under "Corporation Name" or "C3671152" under "Entity Number".

The site doesn't support direct linking, sorry.

[2015-07-07 00:44] stal888 commented on #1379
That site says the filing date for the foundation was 04/28/2014.

[2015-07-07 00:45] nurupo commented on #1379
@Proplex
The website lists just stqism, that's not exactly what I was asking about. What I meant is that he could show a paper with you and iru listed on it, but send a paper with just him as CEO. Is there any way to check that you are actually in the Tox Foundation org, that it's not just a single person stqism?

[2015-07-07 00:48] Proplex commented on #1379
@stal888 Didn't catch that. Interesting.

@nurupo No idea. @stqism only gave me this to prove that he filed it. Everything else was just "oh yeah it's done". I don't know how to look up other information. It's past 5pm PST, I'll give the California Secretary of State a call tomorrow to see how I can learn more.

[2015-07-07 00:49] nurupo commented on #1379
@Proplex
That's very nice of you : )

[2015-07-07 01:29] hexafluoride commented on #1379
![1436152113361](https://cloud.githubusercontent.com/assets/5571189/8536952/c52e1b26-2460-11e5-81ea-260b07f8a235.jpg)

[2015-07-07 01:40] IRIXUser commented on #1379
Dear @Proplex,
This is of little relevance though. Irungentoo has never taken any involvement in the bureaucracy. his address is certainly not in Los Angeles, nor in Calofirnia, nor in the US at large, in any case.

If I registered a limited company here and listed you as CEO without your knowledge you certainly could not speak for it.

Pardon the substandard reply quality, I'm on the proverbial s

[2015-07-07 13:35] dcharles525 commented on #1379
@Proplex I love you.

[2015-07-07 16:32] linux-modder commented on #1379
I have a few NEW concerns,   1) issue 1380 was opened and closed  by @irungentoo  why?  You the devs (namely @irungentoo @stqism @zetok ) wished a new repository (Tox/tox-discussions) be opened what was wrong with a  thread here, follow up being WHY was this never kept open previously and removed during the last "drama" 2) Why is the transparency policy on the wiki being totally ignored... 3) Why

[2015-07-07 16:41] Proplex commented on #1379
@linux-modder Honestly, if you're a US Resident, I'd recommend filing an IRS form 3949-A against either @stqism or the Tox Foundation. There was no transparency with the funds and we aren't sure if @stqism paid taxes on that income. Since the Tox Foundation is not a 501c3, those "donations" are considered income and must be declared as such.

[2015-07-07 17:17] suhr commented on #1379
@linux-modder It was my idea actually, since previous drama. I believe *technical* discussions and *community* discussions should belong to separate places. The problem is community discussion place had removed and I wasn't aware until now. This is not how things should be done.
Actually, we probably need a better place for such discussions than Github.

[2015-07-07 20:23] linux-modder commented on #1379
@suhr,  Previous drama? while I somewhat agree there on the separation   not on separate medium  in my opinion,  seperate thread or Maintained and  logged repo makes sense but we return to the same issue some nearly 200 comments later what has  / is  tox foundation / devs doing / willing to do for FIXING the past  oh shit factor and apparent "rug sweeping" and otherwise blatant shady shit AND what

[2015-07-07 20:28] XVilka commented on #1379
What about adding trusted Tox team in the bountysource, like the [neovim did](https://salt.bountysource.com/teams/neovim)? To help tox development in these hard times?

[2015-07-07 20:29] linux-modder commented on #1379
@XVilka,  trusted Tox Team in bountysource?

[2015-07-07 20:52] XVilka commented on #1379
@linux-modder I mean create the team in bountysource and list there only trusted Tox developers, as a money receptors.

[2015-07-07 21:08] IRIXUser commented on #1379
I see little reason to appeal for any funds. It's obvious that an inattentive team of programmers aren't going to be any use maintaining the necessary infrastructure to accept it, and there's frankly no need for it if we can distribute across various people the services we need, them providing these voluntarily.

Forget about this nonsense about foundations, transparency, etc. I see it as nothing

[2015-07-07 21:10] Spagy commented on #1379
@IRIXUser Although in general I agree, a security audit will be needed at some point and that will need to be paid for somehow.

[2015-07-07 21:23] dylygs commented on #1379
[quote]Actually, we probably need a better place for such discussions than Github.[/quote]

There is a new subreddit I'm pretty sure.

[2015-07-08 03:51] kitech opened #1382 "Average dispatch free_slots to every File_Transfers"
currently, if i transfer multiple file to one friend, only one file has speed, others like paused speed.

i think if one want transfer a file more quickly, they can pause others.

is this possible average all file transfer speed with one friend?

i find the code in Messager.c: do_reqchunk_filecb,  maybe  the inner while loop can drop.

[2015-07-08 11:51] linux-modder commented on #1379
so @stqism you admit to  stealing the funds on reddit, but not breaking laws, because you were not and still aren't a roper 501c3  why not ? well I guess the  follow up part there goes to the present tox dev team too since @stqism  has been  removed from the project officially now (or supposedly), abolished from project would be  like the exiled dalai lama to me.

[2015-07-09 15:56] lucabaldesi opened #1385 "real-time streaming"
Hi everybody!
I'm playing with a distribution protocol for IPTV services and I'm
currently looking for a library for
P2P communication.
What I need is a lossy service (UDP) which takes care of establishing
connection between nodes
including NAT traversal and cryptography functionalities.

As far as I understand from the documentation, Toxcore can provide
exactly this service by taking
advantage fr

[2015-07-09 20:45] itsrachelfish commented on #1379
fyi, this is the current state of tox: https://gist.github.com/itsrachelfish/17a9b34d106c0ecb0f13

tl;dr: tox.im and libtoxcore.so are both solely owned by stqism and he refuses to give anyone else access.

His justification is that those sites are a part of "the tox foundation", and not tox itself.

*What?*

[2015-07-09 20:49] stqism commented on #1379
I also enjoy cherrypicking messages

[code]

[2015-07-09 20:50] itsrachelfish commented on #1379
classic sqt

[2015-07-09 20:51] TheLastProject commented on #1379
@stqism This is a joke, right? Because holy shit I'm laughing so hard right now. That is literally the single dumbest reply you could've come up with hahahahahahaha

[2015-07-09 20:57] stqism commented on #1379
Rachel pls, when I'm back on my computer I'll find it but that isn't the complete thing at all.

[2015-07-09 20:58] stqism commented on #1379
Sylvie, around the time I realized neeh made the issue I started super srs shitposting

[2015-07-09 20:59] itsrachelfish commented on #1379
@stqism hey how about when you get back to your computer you give someone else in the tox project access to the domains?

[2015-07-09 21:00] TheLastProject commented on #1379
^

[2015-07-09 21:02] stqism commented on #1379
Please read the latest blog post

[2015-07-09 21:05] itsrachelfish commented on #1379
@stqism dude bro I read it and it doesn't change anything. Holding the domains hostage until 2017 isn't what anybody in the community wants besides you. All you're doing is spreading confusion and animosity. How can you call "blog.tox.im" the official tox development blog if none of the developers have access to it?

[2015-07-09 21:13] ErdeFB commented on #1379
You could try making a cybersquatting abuse complaint to the domain registrar.

[2015-07-09 22:07] ProMcTagonist commented on #1379
have you ever in your life taken a single action that wasn't centered around pretending to be microsoft to the detriment of everything around you that was previously not shit

@ErdeFB I am

[2015-07-09 22:08] stqism commented on #1379
"hi ICANN, the Tox Foundation owns the Tox Foundation domain pls fix"

[2015-07-09 22:12] optimumtact commented on #1379
I don't think engaging with stqism will have any more benefit, let them fade into irrelevance along with their domains. We have tox.chat now

I'd rather just move on and keep moving foward

[2015-07-09 22:14] rr44 commented on #1379
My questions remain... @stqism has **always** behaved like this and many ex-developers like @Astonex @Proplex @notadecent @Martijnvdc @ollieh @stal888 etc warned the Tox (supposedly) CEO @irungentoo about this.

Why did irungentoo left @stqism do whatever he wanted? To the point of many other devs leaving after sensing how shady the whole thing became?

@irungentoo explain yourself in the name of

[2015-07-09 22:16] Proplex commented on #1379
@itsrachelfish @ProMcTagonist, platos' beat me to it, but you shouldn't bother interacting with stqism. There's no benefit to it, and it'll only hurt productivity. The best way Tox can rebound from this is a renewed commitment to "completing" Tox, documentation, and campaigns.

I'm not sure who currently owns the social media accounts (I had handed them to @urras, not sure if he gave them away), b

[2015-07-09 22:25] rr44 commented on #1379
@Proplex
concerning the social media accounts, @theCoolkal was taking care of that and the general consensus was that he was doing a good job, but @urras (probably jealous) banned @theCoolkal from some IRC channels and forced him to hand over the accounts.
Now @urras is controlling the accounts.

Just more drama that shows how unstable the Tox Foundation is and how the project leaders can't be tru

[2015-07-09 22:27] ProMcTagonist commented on #1379
@Proplex +1, sorry for getting sucked in again.

He's already been flair-branded on the subreddit, good.

The @Projecttox twitter hasn't said anything since the ransomeware site incident, but it links to tox.github.io which looks like a clone of tox.im.

The facebook page still links to tox.im and has no posts since GSoC.

Wikipedia could probably use some clarification, that edit war is going to

[2015-07-09 22:31] optimumtact commented on #1379
infrastructure is still going up

but https://tox.chat/ is the new domain, there is a blog at https://blog.tox.chat/ and I'm trying to get someone to write a blog post up to clarify details.

[2015-07-09 22:31] JFreegman commented on #1379
@Proplex @ProMcTagonist We're rebuilding from scratch under the tox.chat domain (wiki.tox.chat, blog.tox.chat etc.)

tox.im, toxme.se and libtoxcore.so no longer have anything to do with the project, and will remain that way unless we regain control over them. We have control over twitter, not sure about facebook.

[2015-07-09 22:36] Proplex commented on #1379
@rr44 With all due respect, we should shift focus to fixing Tox, rather than going on witch hunts for issues that are most probably as a result of "we've never been in this kind of situation, what are we supposed to do?". Tox is programmed by, and managed by, a group of young adults who never in their life had to deal with publicity in the scale that Tox has brought them. There will be be missteps

[2015-07-09 22:37] rr44 commented on #1379
@Jfreegman
from tox.chat I read

How can you claim that if Tox is alpha software without a security audit?
This is **highly** irresponsible. Warn users that Tox is under **heavy** development and the chance of it not being entirely secure is high.
This puts people's lives at stake. Imagine a journalist uses Tox under the (falsely advertised) idea that it is safe, just so Tox is found to have a bug

[2015-07-09 22:38] ErdeFB commented on #1379
@stqism Good luck with that as ICANN does not handle country code top-level domain name (ccTLD) issues.

[2015-07-09 23:05] pwnsdx commented on #1379
TrueCrypt has just been audited this year and was considered safe. Tox use the NaCl library which is secure but of course, there can be vulnerabilities in the core or even the client so I'm agree with you.

Envoyé de mon iPhone

[2015-07-09 23:16] dcharles525 commented on #1379
@stqism You are the only person in "The Tox Foundation". Why don't you just grow the fuck up and hand everything over to @irungentoo. It's time you leave, no one is asking or wanting you to "take care" of the infrastructure.

[2015-07-09 23:20] rr44 commented on #1379
Just using a secure library doesn't mean your software is secure, almost all vulnerabilities are due to mistakes in the implementation and, given the size of Tox and rate of change in the code, this could easily happen.

Yes, uTox allowed **remote code execution** not once, but **twice**.
https://github.com/notsecure/uTox/issues/265
https://github.com/notsecure/uTox/issues/203

It's plain **irresp

[2015-07-10 00:21] urras commented on #1379
@rr44

Hah, really? No offense to @theCoolkal, but the majority of people in charge of the project determined that he was not the right person for the position, based on his previous Tweets. The only person who, at the time, thought he was doing a good job was @irungentoo. After talking to @theCoolkal on another IRC network, he _willingly_ gave me the password to the Twitter account, which I chang

[2015-07-10 03:10] subliun commented on #1379
@rr44 your avatar is really cute.

You should use Antox, I hear it's everyone's favourite tox client.

[2015-07-10 05:26] stal888 commented on #1379
@subliun I think you mean Nao :^)

[2015-07-10 14:34] czarkoff commented on #1379
@rr44: Security audit for alpha version of rapidly changing library doesn't make sense: given the pace of development, the report will be outdated before it is published. If there are people who belive that *alpha* versions of library and clients are already mature and 100% secure... well, they deserve it.

[2015-07-10 15:20] IRIXUser commented on #1379
On security:
Tox website should have a link, call it 'Security' or whatever. It ought to link to a page explaining, "Tox is still in development. We're confident that Tox offers the strongest security of all available VoIP solutions; however, we cannot guarantee that it will provide perfect security. " This notice is more than adequate. Tor and other security solutions offer no more than that.

Th

[2015-07-10 15:22] TheLastProject commented on #1379
Why is everyone complaining about this when the download page (tox.chat binaries wiki page) already has a warning?

On 10 July 2015 17:21:26 CEST, David Mackay <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-07-10 15:28] Proplex commented on #1379
@TheLastProject The new http://tox.chat website does not have that. And when a user goes to tox.chat, they are not directed to the binaries page. They're given the footer of tox.chat. There is absolutely no warning, hint, or message that tells the user Tox is not complete, and therefore should not be considered for "high-stake" use cases. There needs to be at least something on tox.chat.

Also, ht

[2015-07-10 15:32] TheLastProject commented on #1379
The download links on tox.chat are currently broken, and at least take the trouble of going to the actual wiki page...

On 10 July 2015 17:29:11 CEST, David Lohle <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-07-10 15:35] Proplex commented on #1379
@TheLastProject But downloads for Windows and OS X are direct links to files. There's no wiki being used there... trust me, I know what disclaimer you're talking about (I wrote it).  But that's nowhere to be found on tox.chat when a user downloads either a OS X or Windows binary.

[2015-07-10 15:38] IRIXUser commented on #1379
@Proplex if it is sufficient high-stake then the person doing so will investigate it themselves.

In any case, Tox has had no less review than PidginOTR or Tor. We don't need, then, to tell users to go away and use some other tool (probably less secure; can you imagine using email or skype instead of Tox, because I know where I'd bet on better security.) That would be shooting ourselves in the foo

[2015-07-10 15:40] Proplex commented on #1379
@IRIXUser It's called responsibility. You have a responsibility to warn users that your software is not complete. Even the old tox.im website had one right under the downloads button. What's wrong with keeping that?

[2015-07-10 15:41] IRIXUser commented on #1379
@Proplex we have a responsibility to explain that Tox *may* have some issues. That it is designed for security but that no guarantee is offered.

We do not have a responsibility to do the NSA's work for them by implying that Tox deserves as much (well, as little) trust as MSN or Skype.

[2015-07-10 15:45] Proplex commented on #1379
@IRIXUser Stop confusing me for @rr44. I'm asking for _something_ on the tox.chat website regarding this. Not a giant banner with bells and whistles.

[2015-07-10 19:49] dylygs commented on #1379
Pooplex has a point. Sure, people who really need the security will do their own research, but it would be nice having a small message next to the download links saying something like "Note: Tox is still being actively worked on - shoot us a message if you find any bugs" or something like that. Something phrased in a way that points out that Tox is still in development, while also doesn't blatentl

[2015-07-10 20:42] jf99 commented on #1382
The way multiple file transfers are currently handled is perfect, imo. In fact, when I realised, tox was automatically pausing queued file transfers, I thought: "Wow, that's clever. Wish other messengers would do that the same way."

Because you can't do anything with many incomplete files. But only some complete files might already be useful (= better than not a single file). So tox should transf

[2015-07-10 21:15] fcore117 commented on #1379
tox.im should be closed now if it is not main site anymore and redirect link added to true new website.

[2015-07-10 21:29] itsrachelfish commented on #1379
@fcore117 yes, it should be. Unfortunately the person who maintains it doesn't want to admit his wrongdoings and is pretending that nothing happened.

[2015-07-10 22:30] thiras commented on #1349
Confirmed with latest qtox on windows (cfeeb03c5ba1da034ebd6b3d04c05972c7a8ad8f - pr1968) with latest official debian/ubuntu repos qtox. Solid connection, UDP enabled on windows.

Linux qtox (at default settings) had very bad connection (especially at upload) and i was the only and first contact on its contact list.

Restarting both of clients solved problem.

[2015-07-10 22:45] ProMcTagonist commented on #1379
https://github.com/Tox/Tox-Website/issues/10

[2015-07-10 22:47] ProMcTagonist commented on #1382
@jf99 people are confused because this deliberate pausing isn't displayed in the interface; it just looks like they've stalled. Issues should be opened on client repos.

[2015-07-10 22:52] ProMcTagonist commented on #1349
It's happened often for me with qTox on Debian <> qTox on Windows for a long time. Reconnecting on either side fixes it.

[2015-07-10 23:08] dcharles525 commented on #1379
Lets all listen to Astonex, he seems to have his shit together...https://markwinter.me/how-tox-can-improve/

[2015-07-10 23:49] suhr commented on #1379
All looks nice but

*No.* Having a choice is not a drawback, it's a feature. Nobody creates torrent client named “Torrent”, for example.

[2015-07-10 23:51] dcharles525 commented on #1379
@suhr At least have an official tox client. Small issue in the big picture.

[2015-07-10 23:54] suhr commented on #1379
Well, we don't have any. qTox works ok on Windows and Linux, but have serious issues on OS X.

[2015-07-10 23:57] Dirius77 commented on #1385
The mailing list doesn't seem to really be a thing. And if I recall correctly, the thing that will cause it to degrade to TCP, is if it finds itself unable to punch through an use UDP.

[2015-07-11 00:01] dcharles525 commented on #1379
@suhr Yeah I meant more in the long run, when Tox as a whole gets out of alpha and beta. In the mean time, it needs major work to get things back up and running. @stqism acted childish and brought down a group of people trying to do something good, its up to @irungentoo now.

[2015-07-11 00:46] GrayHatter commented on #1385
Read only mode

[2015-07-11 00:57] ProMcTagonist commented on #1385
The mailing list domain has been seized by a malevolent third party.  A new mailing list may be put up eventually under tox.chat but it's low priority compared to the main site, the wiki, and jenkins.

[2015-07-11 02:17] Zer0-One commented on #1379
https://blog.tox.chat/2015/07/current-situation-3/

[2015-07-11 06:19] Tester798 commented on #1379
"As far as finances go, we are not going to repeat the same mistakes twice. We will not be taking any official donations* until we have set up a proper organization with an emphasis on transparency and protection of assets (more details on this at a future date)."

https://tox.chat/donate.html

[2015-07-11 07:12] JFreegman commented on #1379
@tester798 The donate button has been replaced with a link to the above blog post.

[2015-07-11 09:46] fcore117 opened #1386 "uTox missing from new site"
Please add uTox installer link to new site too.

[2015-07-11 15:16] jf99 commented on #1379
All the download files have to be hosted on tox.chat (or another trustworthy domain) as well. I used to download the binaries from jenkins.libtoxcore.so. After what I've read here, I won't download anything from a domain hosted by stqism anymore.

[2015-07-11 18:22] Fuuzetsu commented on #1379
@IRIXUser
Frankly I didn't even intend to participate here. My only association with the project is that I was there for the threads before it even had a logo or a name or a repository and that I have expressed years ago my concern about how security will be ensured (and someone with good memory remembered this and highlighted me here). The reply was something like ‘lolauditlater’. Now I find myse

[2015-07-11 20:20] codedust commented on #140
@irungentoo I think this can be closed now as the new API is already implemented.

[2015-07-11 20:25] codedust commented on #207
@irungentoo As zetox already mentioned, this issue can be closed now.

[2015-07-11 20:28] codedust commented on #390
@irungentoo As mentioned by diantahoc, this issue can be closed.

[2015-07-11 20:31] #140 closed

[2015-07-11 20:32] #207 closed

[2015-07-11 20:32] #390 closed

[2015-07-11 20:34] codedust commented on #496
@irungentoo I think this can be closed as it's not a toxcore issue.

[2015-07-11 20:37] codedust commented on #569
@irungentoo This can be closed as it's a resolved support issue.

[2015-07-11 20:41] codedust commented on #574
@irungentoo This might be closed as all major plattforms are supported by toxcore right now.

[2015-07-11 20:45] Impyy commented on #574
@codedust But toxcore still doesn't compile with msvc.

[2015-07-11 20:53] codedust commented on #574
@Impyy You might be looking for #418

[2015-07-11 20:54] codedust commented on #719
@irungentoo This issue can be closed as it's a very old support issue that doesn't apply to the latest version of toxcore anymore.

[2015-07-11 21:00] codedust commented on #759
@irungentoo This issue can be closed as Venom is discontinued.

[2015-07-11 21:04] Impyy commented on #574
@codedust I'm not. Compiling using mingw or similar is not an option in some cases.

[2015-07-11 21:06] codedust commented on #842
@irungentoo This issue can be closed as it refers to an outdated version of the Tox API.

[2015-07-11 21:07] codedust commented on #848
@irungentoo This issue can be closed as Venom is discontinued.

[2015-07-11 21:12] suhr commented on #1386
uTox considered harmful. Also, this issue belongs to https://github.com/Tox/Tox-Website

[2015-07-11 21:15] codedust commented on #574
@Impyy I don't know why someone would want to compile tox with a propietary compiler when there is a free alternative. But maybe there might be people out there who would want to do that. ;)

[2015-07-11 21:22] codedust commented on #856
@irungentoo This issue can be closed as it either has never been a problem or has been fixed already.

[2015-07-11 21:24] fcore117 commented on #1386
Fast, light, no dependencies, harmful is fud. Moving to tox website.

[2015-07-11 21:24] #1386 closed

[2015-07-11 21:26] Impyy commented on #574
@codedust One of those people would be me. In order to get a tox application in the windows store or the windows phone store toxcore has to be compiled with msvc. I have to maintain my own fork of toxcore that compiles with msvc so I can't really consider this "portable".

[2015-07-11 21:27] #496 closed

[2015-07-11 21:28] codedust commented on #933
@Brottweiler Is this still an issue with the latest version of toxcore on your system?

[2015-07-11 21:31] codedust commented on #574
@Impyy Does the windows store really *require* compiling with msvc or do you prefer compiling with msvc because it seems to be more convenient?

[2015-07-11 21:33] codedust commented on #941
@irungentoo This issue can be closed as it is not related to toxcore.

[2015-07-11 21:35] codedust commented on #974
@irungentoo This issue can be closed as it's a resolved support issue.

[2015-07-11 21:40] codedust commented on #993
@irungentoo This issue can be closed as its not related to toxcore and has probably already been fixed.

[2015-07-11 21:46] codedust commented on #1010
I can confirm this.
However, it's not really a toxcore issue and therefore can be closed imo (cast @irungentoo).

[2015-07-11 21:54] codedust commented on #1069
@irungentoo This issue can be closed as it's related to Antox only.

[2015-07-11 21:57] codedust commented on #1130
@irungentoo This issue can be closed as it's not a toxcore issue.

[2015-07-11 22:00] codedust commented on #1167
@irungentoo This issue can be closed as Poison is discontinued.

[2015-07-11 22:08] suhr commented on #102
Toxcore is capable now to send custom packets, and screenshare is not a toxcore issue.
Close the issue?

[2015-07-11 22:09] suhr commented on #37
May be closed, I presume?

[2015-07-11 22:11] codedust commented on #1225
@irungentoo This issue can be closed as it's a resolved support issue.

[2015-07-11 22:13] suhr commented on #21
Toxcore uses libvpx and opus now. Close?

[2015-07-11 22:16] codedust commented on #1235
@irungentoo This issue can be closed as it was fixed in the new API.

[2015-07-11 22:23] codedust commented on #1249
@irungentoo This issue can be closed as it's a resolved support issue.

[2015-07-11 22:26] codedust commented on #1258
@irungentoo This issue can be closed as it's a duplicate.

[2015-07-11 22:30] codedust commented on #1263
@irungentoo This issue can be closed as it has been fixed in the new API ;)

[2015-07-11 22:39] codedust commented on #761
This seems to be related to #1369.

[2015-07-11 22:46] cebe commented on #761
the main argument against JSON is that it does not allow comments. means I can not just comment a line to have it ignored.

[2015-07-11 22:46] codedust commented on #1088
The friend sharing issue has been discussed in #1350.
However, clients should provide an easy option to compare Tox IDs IRL.

[2015-07-11 22:57] codedust commented on #1300
@irungentoo This can be closed as it's a duplicate of #1088 and sending friends to other friends is discussed in #1350.

[2015-07-11 23:14] #1263 closed

[2015-07-11 23:40] JFreegman commented on #1379
@Fuuzetsu

I spend a non-trivial percentage of my time re-writing and refactoring my own imperfect code, and I would hope that any programmer with some self-respect work would do the same. In fact my last commit to the project was doing just that.

Skype has had serious exploits and security holes go unpatched for months, even years. Hell, you can *still* find out someone's IP simply by knowing th

[2015-07-11 23:47] Brottweiler commented on #933
Well I have a new computer so can't really test it on that old low end pc. :confused:

[2015-07-11 23:58] codedust commented on #933
Well, I think this issue can be closed then since this is probably fixed already. When someone else is expecting high CPU usage, it might be better to open a new issue.

[2015-07-11 23:59] suhr commented on #1379
Not really. There's tools that allows to write formally verified code (consider dependent typed languages like Coq, Agda or Idris), and there're examples of verified software like https://sel4.systems/. Though such development is rarely practical and is far beyond possibilities of a non-commercial free software project.

[2015-07-12 00:01] Brottweiler commented on #933
:+1:

[2015-07-12 01:13] zetok commented on #1349
I had experienced this problem today, using up-to-date qTox with a toxcore that is 6 days old. Other contact used µTox 0.3.2, and after they restarted their client I was able to talk with them.

[2015-07-12 01:24] JFreegman commented on #1379
@suhr I was just reading about that the other day. It's not even practical for NASA according to the former head of NASA's Computational Sciences Division.

seL4 looks pretty cool though.

[2015-07-12 01:31] Fuuzetsu commented on #1379
@JFreegman

That's good but I don't think you can expect everyone to contributed to do the same. Many developers already left the project.

I'm going to go out on a limb and say that it's only because no one is looking. But Skype was just an example. If Skype wasn't popular and noone looked for security vulns in it, could they claim it to be secure out of the box? Because that's what Tox is doing

[2015-07-12 01:53] GrayHatter commented on #719
yeah, this can be closed

[2015-07-12 03:28] kitech commented on #1382
yes, you are right in that case. so for me, i'm build robot for data channels base on tox file api, maybe help me find right way.
thanks

[2015-07-12 06:32] JFreegman commented on #1379
@Fuuzetsu

So you're "above" FOSS development, but you feel it's acceptable to insult and berate volunteers, making hostile demands, when all they've done is provide you and everyone else with free software?

Moreover, the fact that you "don't work for free" seems irrelevant when you admit yourself that you are not qualified to touch security related software.

I see no sense in debating someone s

[2015-07-12 09:39] Talkless commented on #772
I miss that feature almost daily...

[2015-07-12 11:50] Fuuzetsu commented on #1379
No, that's not what that says at all. Click on my GitHub and see if Im above FOSS. I donate to FSF too. I'm above spending my time on a project I don't want to work on.

Yes, I'm not qualified to touch security-related software. Just like everyone else here from what I can see.

Wow. Excuse me that I asked a project what they are doing about security!

So what's the point of even replying if you c

[2015-07-12 11:57] rr44 commented on #1379
@JFreegman

So you are going to nitpick on that singled sentence, ignore all real concerns presented and unsubscribe from the issue instead of giving real counter-arguments to defend your side? How convenient and professional of you...

The truth is simple:tox does nothing to ensure it is secure but advertises itself as being perfectly safe for users. Unless there is actual efforts in providing se

[2015-07-12 13:16] subliun commented on #1379
@rr44 your avatar is really cute neeh. I like how you make things bold when they're important to you. A full protocol specification is currently a work in progress. Maybe you'd be less angry if you installed Antox. Also, how can you complain about poor old gentoo not responding, when you've not responded once to my complements of your avatar?

[2015-07-12 14:17] suhr commented on #1379
It needs more care though.

[2015-07-12 15:01] Proplex commented on #1379
@JFreegman I love you man, but "[...] Contrast that to Toxcore, which despite having its entire source in public view, has never had a single known exploit in the two years of its existence." isn't a good mindset. It's akin to those technologically incompetent people claiming that OS X doesn't have viruses.

[2015-07-12 16:56] ProMcTagonist commented on #1379
We need an audit and that will happen once someone can pay for it. It can't happen before then.

In the meantime argue about the bigness of the warning on the site on the site repo.

[2015-07-12 17:05] suhr commented on #1379
@ProMcTagonist But we need specification *before* audit.

[2015-07-12 17:17] ArchangeGabriel commented on #1379
Well, unless I missed something, that’s also the case for Tox (you need Tor-like behaviour to counterfeit this, and AFAIK this hasn’t — yet — been implemented here).

[2015-07-12 17:19] suhr commented on #1379
No. You need to be added as friend to know someone ip.

[2015-07-12 17:22] ArchangeGabriel commented on #1379
Why ? There is somewhere a record of the ToxID/IP couple, right ? Something like in the node ? Well, I should probably read the whitepaper…

[2015-07-12 17:28] rr44 commented on #1379
@ArchangeGabriel
There is no whitepaper and the code is messy and unconventional.
If Tox employs **any** security strategy, it's **security through obscurity**

[2015-07-12 17:31] pwnsdx commented on #1379
The three dots at the end of the sentence let think that it was a joke.

[2015-07-12 18:24] rr44 commented on #1379
@pwnsdx
The lack of documentation and proof for the vague claims made by Tox isn't a joke to me.
And I hope it isn't a joke for @irungentoo and his henchmen either, but history shown otherwise thus far.

[2015-07-12 18:27] IRIXUser commented on #1379
@rr44 I know that deductive reasoning isn't very popular amongst 4channers, but try to consider these:
* Tox is built atop provenly-secure primitives
* Tox is well-written and manipulates these primitives in a manner that does not appear conducive to the creation of any attack vector
* As such, Tox is secure because it has not departed from following these theses.

uTox once included not a remote

[2015-07-12 18:32] Fuuzetsu commented on #1379
Only secure thing is the crypto library (assuming security). Everything else including protocol had no analysis on it.

Pulling things out of thin air again.

Does not follow.

Same thing, you can use the shell to run arbitrary code.

You're delusional.

1. You keep saying ‘We’. Why doesn't the project owner speak for himself?
2. I already pointed out that a community review from incompetent revie

[2015-07-12 18:32] rr44 commented on #1379
@IRIXUser

What does that have to do with me? If you are implying I am a "4channer", I assure you I am not. Although the Tox project was founded there and its leader @irungentoo is one, so do you even think before typing? You just implied @irungentoo has no deductive reasoning. Good one.

Have you ever taken any cryptography/cryptology classes before? One of the first things you learn, even on a c

[2015-07-12 18:48] IRIXUser commented on #1379
@rr44 Did you notice that I didn't say "Tox is secure only because it is written atop secure primitives?" Because I didn't say that, in case you didn't notice. I know that it must be very busy work over at Fort Meade, but I'd ask that next time you pay closer attention.

What I said that it is impossible to compromise a project that manipulates provably secure primitives in a provably secure manne

[2015-07-12 18:55] rr44 commented on #1379
True.
Does Tox uses a secure primitive? Yes, NaCl is secure.
Does Tox uses NaCl in a provably secure manner? **Absolutely not**. Provide arguments for this claim or stop making it already. Tox is undocumented and the protocol isn't detailed anywhere, the code is huge and no third-parties evaluated it. Stop claiming it is "provably secure".

Explain then. Because there's nothing to support this bol

[2015-07-12 18:59] suhr commented on #1379
@IRIXUser

No it is not until specification is available.

This is *bullshit.* Source code is hard to investigate, especially C code. The same way you can claim everything is secure “or go find an issue in the binary code”.

Tox *needs* specification. It would allow sane verification of the protocol and also make possible to create alternative implementations.

[2015-07-12 18:59] hexafluoride commented on #1379
@IRIXUser Let me say this before you read the rest of it.

Look man, I love you and Tox in a non homosexual manner, but that does not mean you do not have wrong assumptions that you simply look over.

Except you basically said "Tox has secure primitives, and Tox utilizes these primitives correctly, therefore Tox is secure", which is how transitive logic works. Tox cannot be secure if your other as

[2015-07-12 19:04] rr44 commented on #1379
**Wrong**. And I can provide evidence to my claim, unlike you. Here it goes:
https://github.com/notsecure/uTox/issues/203 (exploitable until Aug 12)
https://github.com/notsecure/uTox/issues/265 (exploitable until Aug 19)
https://github.com/irungentoo/toxcore/pull/1043 (PR that made it possible for clients to encrypt the Tox profile)

This shows that the uTox **remote code execution exploit** happe

[2015-07-12 19:18] IRIXUser commented on #1379
@suhr

Thank goodness we can agree on something. I'm not a fan of the present situation either. There was previous work on a Rust implementation of Toxcore that would lead to the formalisation of the Tox protocol in a concise specification. @mahkoh reported that this was going well, but unfortunately she had to stop it for personal reasons.

I would definitely be delighted to see what you wish for

[2015-07-12 19:23] TheLastProject commented on #1379
@IRIXUser:

Sorry, but that, like many of your statements. is bullshit. uTox' remote shell issue was purely a result of NIH and refusing to just use GTK or Qt or whatever. No normal application has such issues.

[2015-07-12 19:25] rr44 commented on #1379
No, not personal reasons.
Technical reasons.
It was put on hold because **Tox has no proper documentation.**
Proof: https://github.com/mahkoh/Xot/blob/master/README.md

Why is it that you make false claims and provide no evidence, but flowery text all time?
About time you stop avoiding the issues at hand.

[2015-07-12 19:26] stal888 commented on #1379
neeh, stop

[2015-07-12 19:30] VincentWo opened #1388 "Why void* instead of a typed pointer in toxdns.c?"
The functions tox_dns3_{new|kill} both use void* instead of a correctly typed pointer. Is there any Reason for this? I would just solve this but i am new to tox, so there may be some obscure reason to do so.

[2015-07-12 19:30] rr44 commented on #1379
@IRIXUser

But the Tox Foundation put it on their webpage and distributed it as the official Tox binary for a long time.

The website claimed Tox was absolutely secure while distributing a binary that allowed **remote code execution**. How can't you understand this is unethical and irresponsible? Tox shouldn't even be distributing binaries until it's proven secure, but if it really decides to do s

[2015-07-12 19:31] hexafluoride commented on #1379
@stal why do you have braille letters as your email name?

[2015-07-12 19:36] suhr commented on #1379
@rr44

I'm sorry, but picrelated.

![Too FAT](https://d.maxfile.ro/mrijvsezgg.jpg)

---

We already talked about uTox considered harmful. Should we rise these toxcore unrelated issues again and again?

[2015-07-12 19:39] rr44 commented on #1379
But the Tox official website distributed binaries of uTox for over a year, binaries that presented **remote code execution exploits**. All that while claiming Tox was completely secure on the website.
This isn't a uTox issue only, it's a Tox issue as @irungentoo and his henchmen refuse to warn users that Tox is **not to be trusted** until it's more mature and provide **sufficient evidence** to mak

[2015-07-12 20:07] JFreegman commented on #1379
@proplex

I didn't say that Tox doesn't have exploits. I'd have a hard time believing that any big software project is free of exploits. My point is that toxcore's track record is as good as you could possibly hope for. It's very easy to prove that badly designed software is insecure.

[2015-07-12 20:11] stal888 commented on #1379
@hexafluoride so the deaf can take part in this discussion as well

[2015-07-12 20:12] hexafluoride commented on #1379
@stal888 that doesn't even make sense

[2015-07-12 20:17] drequivalent commented on #1379
![5411491300_6365f71a41_b](https://cloud.githubusercontent.com/assets/1463277/8639778/322ea968-28ec-11e5-8bf5-421301aec065.jpg)

[2015-07-12 22:05] installgen2 commented on #1379
posting in funposting thread :DD

[2015-07-13 01:07] nurupo commented on #1379
@ArchangeGabriel

toxcore uses onion routing for DHT.friend addition and announcement, so it's already implemented.

[2015-07-13 01:56] weedy commented on #1379
If we are going to spend 30 odd posts crying over the same 4 arguments can we just like... stop talking instead.

It's the internet, you'll never win the argument.

[2015-07-13 02:42] installgen2 commented on #1379
Damn you all, I have to sleep now, and somebody else will make the 300th comment. But don't you all doubt me, I will get some epic trips with comment number 333 one day!

[2015-07-13 02:55] subliun commented on #1379
@rr44 hey neeh. Nice to see you're still here. I miss you when you go away. Because you're so great, and your avatar is so amazingly adorable, I made this collection of all the times you've yelled at me.

**supposedly** **minimum** **until it's been fully audited** **ARGUMENTS** **until it's been fully audited** ***Please*** **at least** **highly** **heavy** **heavy** **dangerous** **Please** **To

[2015-07-13 03:53] stal888 commented on #1379
@subliun I have seen the light. @rr44's avatar is in fact cute, and I will be using it in the future.

[2015-07-13 03:54] CloverField commented on #1379
Is this still the general shit posting thread?
On Jul 12, 2015 11:53 PM, "⠎⠞⠁⠇" <notifications@github.com> wrote:

[2015-07-13 03:55] stal888 commented on #1379
@CloverField We take ourselves
# ***very*** seriously
around here.

[2015-07-13 04:12] suhr commented on #1379
@CloverField

What do *you* think?

![](https://d.maxfile.ro/jirvkmcifi.jpg)

[2015-07-13 08:10] Fuuzetsu commented on #1379
@IRIXUser

What? I have no idea what you're talking about. I neven even knew of Benhall before now. You could just hover over my organisations on GitHub to see where I work (and that's about to change very soon).

Everything else you say is basically garbage as well so I'm going to stop even attempting to get any worthwhile information out of you.

[2015-07-13 08:16] Fuuzetsu commented on #1379
Oh, nearly forgot

Do you really think Tox will be getting into another summer of code after passing students for sake of money and effectively lying about their performance and then having the money intended for the project stolen? Please.

[2015-07-13 08:18] subliun commented on #1379
@Fuuzetsu we'll probably have another year of Google Winter of Code, but who knows. (Google, that's who knows)

You seem very angry about something. Have you tried installing Antox? I hear it can help to make your life bright and meaningful again.

[2015-07-13 08:22] Fuuzetsu commented on #1379
@subliun I don't plan on using any program that blatantly lies about its security and either ignores the issue or keeps lying when asked about it.

Also I don't own an Android device or any smart phone. If you have a nice frontend, maybe you could try to use it with another messaging project, seems like a better use of resources.

[2015-07-13 08:57] two-dogs commented on #1379
http://download.opensuse.org/repositories/home:/ecsos:/tox/openSUSE_Tumbleweed/ <-- i use it, works fine, since we are asking where does it come from, please tell me my source for tox client is not evil, and yes, it was meant as a serious question.

[2015-07-13 10:37] zetok commented on #1379
@two-dogs um, if it's not clear already, this issue isn't a place of serious discussion.. but I'll bite your question anyway.

You should ask that question the person who maintains that repo… today is the first time that I've heard about this repo.

[2015-07-13 11:52] installgen2 commented on #1379
Alright this looks like a comfy thread, so I'm going to post some quality memes. First of all, fresh from Freenode, we have "what day is it" by the meme-lord @hexafluoride.

[2015-07-13 12:26] zetok commented on #1379
@installgen2 it's a Caturday, right?
![z5miokk](https://cloud.githubusercontent.com/assets/3148759/8649314/29f792ee-2961-11e5-9acb-4665f2a90c27.jpg)

[2015-07-13 12:28] CloverField commented on #1379
Caturday was two days ago man.
On Jul 13, 2015 8:26 AM, "zetok" <notifications@github.com> wrote:

[2015-07-13 12:37] zetok commented on #1379
@CloverField b-b-but isn't every day a Caturday?

![tumblr_lx94fhkfgk1r2rj8po1_1280](https://cloud.githubusercontent.com/assets/3148759/8649667/3f7714a2-2964-11e5-9662-e56af3f806fb.jpg)

[2015-07-13 12:39] IRIXUser commented on #1379
GCHQ in action.

[2015-07-13 12:40] CloverField commented on #1379
I dono its been a while since I tried to remember the meme rules.
On Jul 13, 2015 8:38 AM, "zetok" <notifications@github.com> wrote:

[2015-07-13 13:17] installgen2 commented on #1379
Friends I have been working on this meme for a long time I hope you like it.

---

# TOX IS DEPRECATED BY FACEBOOK MESSENGER
![ayylmao](https://cloud.githubusercontent.com/assets/11202492/8650286/a72e4f5c-2969-11e5-836f-47e5a7aa475a.jpg)

[2015-07-13 13:19] IRIXUser commented on #1379
@installgen2  Surely this is a very high quality meme. Even such conoisseurs of the finest memes as @hexafluoride will bow in respek.

[2015-07-13 13:49] installgen2 commented on #1379
thank you @IRIXUser, as a thank you for your amazing support. I will share with you a picture of some memes I smuggled from Turkey to Ireland.

![topkek](https://cloud.githubusercontent.com/assets/11202492/8650945/3de69838-296e-11e5-95f9-6a44956b01f5.jpg)

[2015-07-13 14:00] suhr commented on #1379
One more pic in this ITT thread.

![](https://d.maxfile.ro/lrbmbxybel.jpg)

[2015-07-13 15:11] ijustwanttodie commented on #1379
benis

[2015-07-13 15:13] CloverField commented on #1379
That is one of my favorite maymays.
On Jul 13, 2015 11:11 AM, "ijustwanttodie" <notifications@github.com> wrote:

[2015-07-13 15:15] installgen2 commented on #1379
Do you mean "benis" is one of your favorite maymays, @CloverField? If so, I think you should check out https://github.com/installgen2/libspurdo

[2015-07-13 16:11] ijustwanttodie commented on #1379
Nauran xD kuin paholainen onnettomuus :DDDD

![](https://i.imgur.com/oiKlA.png)

[2015-07-13 16:36] CloverField commented on #1379
This is the best library I've seen I a while.
On Jul 13, 2015 12:11 PM, "ijustwanttodie" <notifications@github.com> wrote:

[2015-07-13 16:43] stal888 commented on #1379
It is a pity that it is in javascript.

Please rewrite it in str8c and we can look into integrating it in toxcore.

[2015-07-13 16:49] installgen2 commented on #1379
No @stal888, spurdo will not come to toxcore, toxcore can come to spurdo. I demand you to re-write toxcore in jabbascript right now to allow the integration of libspurdo.

[2015-07-13 16:55] ijustwanttodie commented on #1379
@CloverField Mitä vittua sinä vain vittu sanovat minusta, senkin narttu? Otan tiedät olen valmistunut alkuun minun luokan Navy Seals, ja olen ollut mukana lukuisissa salassa ratsioita Al-Qaidan, ja minulla on yli 300 vahvistanut tappaa. Olen koulutettu gorilla sodankäyntiin ja olen ylhäältä ampuja koko Yhdysvaltain asevoimien. Olet minulle mitään, vaan vain yksi tavoite. Minä pyyhin sinut vittuun

[2015-07-13 16:59] stal888 commented on #1379
@ijustwanttodie Allahu ackbar brother

[2015-07-13 16:59] wiiam commented on #1379
@installgen2 hi mika

[2015-07-13 17:00] installgen2 commented on #1379
@wiiam sup william

[2015-07-13 17:02] wiiam commented on #1379
@installgen2 sick memes going on [here](https://www.youtube.com/watch?v=AWiccrTB4LM)

[2015-07-13 17:04] subliun commented on #1379
@rr44 I made a word cloud of all the shitposting you've inspired. The brown symbolises symbolism.
![word cloud](https://cloud.githubusercontent.com/assets/2082980/8655464/61dcb850-29d0-11e5-9fee-28a2bfdd08e7.png)

[2015-07-13 17:04] ijustwanttodie commented on #1379
@stal888 alalh ebin xD
![](https://img.4plebs.org/boards/pol/image/1405/46/1405467199702.png)

[2015-07-13 17:05] installgen2 commented on #1379
### I hav gud idea XD :DDD
Lets all all make posts out of words from @subliun's word cloud only.

ps fuck you @wiiam

[2015-07-13 17:06] ijustwanttodie commented on #1379
@installgen2 HOW ABOUT FUCK YOU :DDDDDDDDDDDDDDDDDDDDDDDD

[2015-07-13 17:09] stal888 commented on #1379
![](https://cloud.githubusercontent.com/assets/774591/8655608/2a483290-2947-11e5-9191-a203566a79dd.png)

[2015-07-13 17:12] installgen2 commented on #1379
look here irungentoo, community audit memes after dank memesdank. Stal claims uTox foundation security, still memes after stqism.

Please make cats know Jfreegman claims without memesvank.

[2015-07-13 17:23] installgen2 commented on #1379
Ohhh uhh, is this the 333th comment?

[2015-07-13 17:25] irungentoo commented on #1379
Continue all discussion/shitposting in: http://str8c.me/tox/pb/

[2015-07-13 17:25] #1379 closed

[2015-07-13 17:27] subliun commented on #1379
can't stop me

[2015-07-13 17:27] stal888 commented on #1379
![](https://cloud.githubusercontent.com/assets/774591/8656013/d33abd9e-2949-11e5-9179-1d20065a84b6.png)

[2015-07-13 17:28] installgen2 commented on #1379
YOU CAN'T TAKE THIS THREAD AWAY FROM ME

[2015-07-13 17:30] irungentoo commented on #1379
don't make me lock this. New thread is here: http://str8c.me/tox/pb/

[2015-07-13 17:30] stal888 commented on #1379
@irungentoo You don't have the guts.

[2015-07-13 17:30] installgen2 commented on #1379
inb4

[2015-07-13 17:34] lalalaaa2 commented on #1379
@ClairWilliams @jeremyevans @Sparksian@jryberg @NateShoffner @benwaffle @cjh @jcs @qpfiffer @mamacdon @GGMethos @jschlyter

[2015-07-13 17:39] stqism commented on #1379
And I thought I was bad, you guys spammed me with 117 new notifications because of emails.

[2015-07-13 17:48] lalalaaa2 commented on #1379
@anubiann00b
@edjiang
@krrishd
@objectx
@HectorAE
@gelisam
@msutherl
@jbenner-radham
@BoreHaze
@oscar2d2
@gnufied
@mrecachinas
@ElliottH
@jrsnyder
@cyphorous
@flexibeast
@alixaxel
@dfinlay
@ak3n
@eli-oat
@sivragav
@hernantz
@rogeriomarques
@jdreaver
@ColeTownsend
@godbyk
@taveras
@mooremo
@aryx
@laughedelic
@vanilla
@adriarichards
@cloudbring
@skwashd
@joshbrown
@troywill
@everett
@chrisebennett
@

[2015-07-13 17:49] lalalaaa2 commented on #1379
@echoez
@lifeissweetgood
@tekjava
@ComicStripBlogger
@lynnaloo
@arafin
@BurningWS
@Likhonblog
@gabrielpconceicao

[2015-07-13 17:49] fcore117 commented on #1379
stqism, sell your laptop from picture so it is a first start to return money.

[2015-07-13 17:50] irungentoo commented on #1379
http://str8c.me/tox/pb/

[2015-07-13 22:28] IRIXUser opened #1389 "Tox has been deprecated by Facebook Messenger"
Unfortunately, Tox simply can't complete with the the reliability and stability of Facebook Messenger, which is maintained by a security-conscious team of professional programmers, with all data passed securely through Facebook(t.m.) servers.

Tox, on the other hand, is developed by a motley crew of cryptology enthusiasts and academics. Tox, dangerously, does not channel messages through any centr

[2015-07-13 22:29] #1389 closed

[2015-07-13 23:53] ProMcTagonist commented on #1222
Can the ideas here be revisited?

[2015-07-14 08:33] zetok commented on #1222
@ProMcTagonist based on @stendler summary (great thing, thanks a lot), ideas are not really useful, since they don't really bring what is needed, and could potentially lead to making network vulnerable to DDoS. As for @stendler idea, I didn't read it all, but even then it seemed to be unworkable due to how Tox network works, i.e. DHT doesn't store Tox IDs in it, nor even your permanent public key.

[2015-07-14 09:44] codyharrington commented on #186
what's the problem with just encrypting messages for the recipient locally using PGP?

You'd use your friend's public key to encrypt them, and just keep them stored somewhere until it's time to send them. Once they're sent, you can delete them. The only downside here is that you wouldn't be able to read what messages you'd sent your friend, because they'd be encrypted with their public key.

Anoth

[2015-07-14 14:39] ace13 commented on #186
The problem with offline messaging is not that it's unsafe to store the messages in your client.
The problem comes when your client goes offline before your friend can come online and recieve the messages, for that case to work you have to somehow store the messages in the DHT without actually attaching any identifying data to the stored message - yet still be able to guarantee delivery to the pro

[2015-07-14 14:41] #102 closed

[2015-07-15 04:13] im-grey commented on #186
This has probably already been shot down, but could they be put in the DHT? Or a separate DHT? Encrypted with the friends public key? I think that is what i2p-bote does, message are stored in the DHT for like 100 days or something and are deleted after that.

[2015-07-15 06:36] ProMcTagonist commented on #186
someone keeps shilling tahoe-lafs in groupchat for this but I don't know enough about it to make up pros/cons

[2015-07-15 08:09] ace13 commented on #186
The problem with storing them in the DHT is that you would have to attach identifying marks to them, since the network would have to know whom to deliver the message to. And that's not a good thing when it comes to a security standpoint, anyone with a malicious DHT node could dump messages and suddenly you can't guarantee privacy anymore.

[2015-07-15 15:02] LittleVulpix commented on #186
I believe there is a GSOC assigned to this. ( https://www.google-melange.com/gsoc/project/details/google/gsoc2015/drakefish/5707702298738688 )

[2015-07-15 22:26] ProMcTagonist commented on #186
@LittleVulpix That project just uses supernodes if I'm not mistaken.

[2015-07-15 23:11] LittleVulpix commented on #186
@ProMcTagonist Well there is no other way of doing this - reliably and securely - is there?

[2015-07-16 07:51] codedust commented on #186
@ProMcTagonist There are more "supernodes" than those listed in the wiki. Clients get to know these other nodes when they connect to the DHT for the first time.

[2015-07-16 13:37] jf99 commented on #186
I don't know any details about this GSoC approach. But I would be dissappointed if offline messages were not stored decentralized, which means not only on some specially chosen nodes. Potentially, every tox client should be able to contribute. Of course, a mobile device is not a good choice as storage server for offline messages, as this might cause a lot of traffic. So tox clients should let the

[2015-07-16 14:48] J2TeaM opened #1390 "Tox does not support Unicode"
I can not use Tox to chat in Vietnamese because it does not support unicode input. Screenshot:

![toxx-unicode](https://cloud.githubusercontent.com/assets/5250117/8726376/0fc28320-2c04-11e5-85de-8ead0c695000.PNG)

[2015-07-16 15:17] LapFox commented on #1390
This looks like a client issue

[2015-07-16 15:41] suhr commented on #1390
Not a toxcore issue. Also, what client do you use?

[2015-07-16 17:27] ProMcTagonist commented on #1390
Unicode is bloat, apparently.

You should complain at https://github.com/notsecure/utox/issues.

[2015-07-16 22:46] suhr commented on #1390
@J2TeaM Try to use qTox or Toxy.

[2015-07-17 00:16] GrayHatter commented on #1390
utox supports unicode, you can open an issue at the above link. But the problem seems to be that you don't have a supported font installed.

[2015-07-17 10:08] J2TeaM commented on #1390
@suhr : I'm using uTox. Thank you for your suggestion to use qTox, I've tried, and it's great, though the interface is not much different from uTox :+1:

![image](https://cloud.githubusercontent.com/assets/5250117/8745081/6514dbdc-2ca6-11e5-8859-1140d6f68b95.png)

@ProMcTagonist : Thank you for the link! I have reported this issue.

[2015-07-17 10:09] #1390 closed

[2015-07-20 09:04] ameenross commented on #1389
A bit late for April 1

[2015-07-23 13:55] rrooij commented on #1262
Any updates?

There are still commits which are very vaguely described.

[2015-07-26 01:29] Mecvak commented on #1222
It's been awhile and thinking back, I'm liking the idea of web of trust more.
The goal is making the discovery of users you know easier, why not have the list created by the people you have already added?

For example:
**A** adds **B** using manual tox ID
**B** has a contact list of 30 friends who have each **opted in** for sharing their ID and "extra data" with friends of friends.
**A** searches

[2015-07-26 10:53] codedust commented on #1215
I can confirm that two tox instances on a single computer without an internet connection (using qTox with UDP and IPv6 activated) won't connect to each other, too.

[2015-07-26 11:29] srkunze commented on #1222
I like your proposal. It reminds me of Facebook friends.

[2015-07-26 17:19] aaannndddyyy commented on #1349
it is still happening with latest core and both contacts on µtox

[2015-07-26 17:34] LittleVulpix commented on #1349
Yep, I can confirm. Also happens on miranda and qtox.

[2015-07-26 17:55] aaannndddyyy commented on #1220
it is still happening with latest core and both contacts on µtox

[2015-07-26 18:12] LittleVulpix commented on #1220
@aaannndddyyy it hasn't happened to me since the update actually, but irungentoo said that it could still happen, just that it's going to be a lot less likely. Should I reopen this?

[2015-07-26 18:17] aaannndddyyy commented on #1220
i happens for me with every file > 1 MB with a contact on a slow connection. since it reconnects, it resumes (on utox, with qrtox we had resume problems too), but stzill it is a nuissance when you are in a conversation. So yes, please reopen

[2015-07-26 18:28] aaannndddyyy commented on #1220
This ticket, #1349, lack of offline messages, extremely high ressource usage on phone ... these are my main usability issues with tox. Once they are resolved, I can happily use it with my collegues for daily conversation without nuissance.

[2015-07-26 19:11] LittleVulpix commented on #1220
@irungentoo @aaannndddyyy , reopened.

[2015-07-26 19:38] aaannndddyyy commented on #1220
@LittleVulpix thanks

[2015-07-27 08:52] LittleVulpix commented on #1222
Isn't this how freenet works?

[2015-07-27 13:05] aaannndddyyy commented on #870
offline messages system should ideally have the following properties:

  1) end-to-end encryption (the storer must not be able to read the content)
  2) no linking between sender and receiver (the storer should not be able to learn who communicates with whom) - that's hard
  3) be rather reliable
  4) be fast
  5) not include a central server
  6) not depend on a single random node's uptime
  7) b

[2015-07-27 15:30] aaannndddyyy commented on #186
I posted this on #870 already, dunno if here is more appropriate:

offline messages system should ideally have the following properties:

1) otr-like end-to-end encryption (the storer must not be able to read the content, pfs, deniability)
2) no linking between sender and receiver (the storer should not be able to learn who communicates with whom) - that's hard
3) be rather reliable
4) be fast
5)

[2015-07-27 19:21] thiras opened #1391 "Statistical Data (For Clients)"
It would be good to provide some connection information in real time, like connected DHT nodes, bandwidth etc.

[2015-07-27 23:36] thiras commented on #1222
I think Retroshare use very similar system to your offer @Mecvak , without a problem.

https://github.com/RetroShare/RetroShare

[2015-07-30 02:46] smalltock opened #1393 "Sync Profile Across Devices"
For a while I ran the same profile on my desktop, laptop, and mobile device. I stopped doing this because I encountered a problem. When I add a contact to one device, the others do not synchronize. Of course this is to be expected, so each time, I would manually send my .tox profile to the other devices to update their contact list. This was already troublesome, but to make matters worse, this ope

[2015-07-30 19:31] hotoiledgoblinsack commented on #925
I wanted to chime in and mention I also have this issue, but instead the delay was already present from the start of the conversation. We both have high bandwidth and low latency connections and are only a few blocks away, other applications such as Skype and Mumble have the desired low latency. I've already reported this issue at qTox [1] but figured this may instead be an issue with the core.

[

[2015-07-30 21:31] Chuongv commented on #925
All the audio and video will be replaced with a new api soon. So hopefully this won't be a non-issue afterwards. https://github.com/irungentoo/toxcore/pull/1375

[2015-07-31 17:34] blobgo opened #1395 "Clients should display toxcore version"
This is an idea for the guidelines: The tox clients should display the version of toxcore they use somehow/somewhere in it's UI.
Actually it may just be okay to display the commit hash. Later, when 0.xx releases will be published the version number may be enough.

This would maybe help to find incompatibilities (between client <-> core and between two different clients which chat together). So you

[2015-07-31 17:52] czarkoff commented on #1395
Yes, and toxcore should have versions.

[2015-08-02 01:50] herrniemand opened #1396 "Website confusion"

[2015-08-02 01:52] herrniemand commented on #1396
toxcore current website is tox.**chat**. But there is tox.**im** as well. I am a bit confused about that

[2015-08-02 01:54] optimumtact commented on #1396
tox.chat is the offical website

tox.im is under the control of someone no longer affiliated with the tox project

[2015-08-02 01:56] herrniemand commented on #1396
@optimumtact WOW! I will inform my guys.
P.S. It is quite problematic that tox.im is still in top results. Maybe complain to google?

[2015-08-02 02:12] herrniemand commented on #1396
@optimumtact I already see it.
P.S. Good luck to you guys. Sad that it had happen.

[2015-08-02 02:12] #1396 closed

[2015-08-03 19:03] agilob commented on #1391
Personally I don't find it useful. Connected DHT nodes are listed in logs, run qtox from command line, used bandwidth can be checked by operating system. qTox is instant messenger not network tester.

[2015-08-03 19:05] agilob commented on #1385
Go to #tox-dev irc channel and ask about [toxvpn](https://github.com/denis4net/toxvpn) I don't know much about this project but sound like something you might want to consider.

[2015-08-03 19:06] agilob commented on #1393
I think this is a toxcore issue and it was mentioned a few times [there](https://github.com/irungentoo/toxcore/issues). Anyone else wants to confirm?

[2015-08-03 19:07] Impyy commented on #1391
I don't find it that useful either but I think some people would consider it nice to have. Something like the 'stats for nerds' thing that youtube has would suffice in my opinion.

[2015-08-03 19:10] agilob commented on #1391
Such statistic data must be provided by toxcore otherwise qtox would have to sniff on virtual port in operating system, second option cannot be even considered.

[2015-08-04 19:36] irungentoo opened #1397 "indiegogo fundraising Campain."
https://www.indiegogo.com/projects/toxcore-development

Just confirming here that this is legit and by me.

[2015-08-04 20:05] im-grey commented on #1397
I want to give money, I have given money before, but how can we be sure it will not be stolen this time?

[2015-08-04 20:11] irungentoo commented on #1397
This money is going directly to me so it won't be stolen.

[2015-08-04 20:46] hsimons opened #1398 "Is Tox really as decentralized as the developers claim?"
I have studied what I could of the Tox protocol (which isn't easy because there is no documentation and the code isn't really readable since it grew without planning) but I believe I got a good enough understanding of it. And it made me worried. My eyebrows are raised.

##### TCP connection
All mobile clients enforce TCP connections instead of UDP. However, the toxcore implementation of this isn't

[2015-08-04 20:56] hsimons commented on #1397
Last time the money also went to a person on the Tox Foundation that you said was solid and would have no problems, @stqism.

https://lwn.net/Articles/651003/

How can we be sure the money donated will really be used to what you say and not for personal matters like college tuition, private servers, etc. (like it happened last time).

I think developers deserve to be paid for their hard work, but

[2015-08-04 21:01] irungentoo commented on #1397
@hsimons it clearly says on the indiegogo page that this is to pay myself and that the money goes straight to me.

[2015-08-04 21:01] czarkoff commented on #1397
@hsimons, @im-grey: Please, either donate or not, but don't turn it into another round of flame war.

[2015-08-04 21:04] hsimons commented on #1397
@irungentoo
But the other time you asked for donations, your website said money would go to development too, but in the end it was used to pay Qureshi's college tuition and other personal debts. Words don't mean much now that the trust has been lost. Is there no way the community can be sure the money will be put to good use?

@czarkoff
I don't see any flam war here. I actually want to donate if i

[2015-08-04 21:22] irungentoo commented on #1397
@hsimons This is me fundraising money for myself, not on behalf of a foundation. It's clearly written on the page that this money will go to me. Why would I lie about money going straight to me? It makes no sense.

It sounds like you are just here to stir shit up.

[2015-08-04 21:24] hsimons commented on #1397
@irungentoo
Okay, I understand the money will go to you, that's obvious.
But how will you use this money to further the development of Tox? In which way this money will be used? What can the community expect out of it and how can we be sure of it?
I'm sorry if you think I'm here to "stir shit up", but after what happened last time (donation money stolen and used to pay private debts) you really ca

[2015-08-04 21:26] d9h02f commented on #1397
The sheer dedication of whoever's behind all these accounts is certainly admirable.

[2015-08-04 21:51] czarkoff commented on #1397
@hsimons You can never be sure. Maybe some script kiddie will break into banking account, take all the money, spend it on booze, hookers and cocaine and die of overdose before cops arrive.

Really, either you trust @irungentoo and give him money, or you don't and stay away. It is just that simple.

P.S.: IMO it is time to close this issue.

[2015-08-04 21:56] hsimons commented on #1397
@czarkoff
You blowing everything out of proportion doesn't help the cause.
Of course we can't be 100% sure, but being completely in the black isn't good.
Are there any measures that @irungentoo will enforce to make the community trust this a bit more? Because right now this is the exact same situation we were in when we donated money that was later used by @stqism to pay for his debts, college tui

[2015-08-04 22:11] optimumtact commented on #1398
please note that our offical website is tox.chat

You do raise excellent points however.

If I recall correctly bootstrapping can actually be done through any tox node (including other clients). The bootstrap nodes are merely provided to client developers for ease of joining the primary network. I'm not sure if client devs allow an end users to specify exactly what nodes to bootstrap off but the a

[2015-08-04 22:12] czarkoff commented on #1397
@hsimons You are asking @irungentoo to change something in your head, not in real world. This quest is deemed to fail.

Again, it is a simple matter of trust. Even if @irungentoo provides some evidence that these money won't be wasted, it still would never guarantee that in some point in future he or someone else won't cripple enough to make these money effectively wasted, even if they would be sp

[2015-08-04 22:12] irungentoo commented on #1397
@hsimons The money will be used to pay me to work on Toxcore. You will easily be able to see how much I work by looking at my github profile and my commits.

[2015-08-04 22:21] hsimons commented on #1397
@irungentoo
OK, the money will be used by you. But on what exactly? That's the question that stays unanswered. Will you use the $5000 for a security audit? To pay for http://tox.im servers? What will it be used for? We just don't want to see the @stqism situation repeated again, where he used the money for his college tuition and personal debts instead of helping Tox development with the money. At

[2015-08-04 22:22] suhr commented on #1398
You can't build a distributed network without bootstrapping, it is technically impossible. The only thing we can do is to make list of bootstrap nodes changeable in clients and collect new bootstrap nodes you get via bootstrap (a la Kad).

It won't compromise communication (because of encryption), but your contacts may become unavailable.

Well, it's all about imperfectness of real internet connec

[2015-08-04 22:26] irungentoo commented on #1397
@hsimons As is clearly written on the indiegogo page, this money will go towards paying myself for at least 1 month of full time work on toxcore.

[2015-08-04 22:37] suhr commented on #1397
I'm not enjoying such a campaign too early. Tox should first restore some trust and merge some important things (new toxav, groupchats).
:-1:

[2015-08-04 22:42] irungentoo commented on #1397
@suhr if this campaign doesn't succeed my time to work on Tox will most likely drop even more which means it will take even more time to get new groupchats, etc...

[2015-08-04 22:42] irungentoo commented on #1397
unless someone else takes over of course.

[2015-08-04 23:04] Fuuzetsu commented on #1398
They claim a lot of things, none of them seem to have any backing. Anyway, going to unsubscribe from the issue, I don't want to be seen as involved with the project. I honestly doubt you'll get any kind of real response which is a shame considering that you seem to have put in a fair amount of time into investigating it.

[2015-08-04 23:17] irungentoo commented on #1398
Tox is distributed. Bootstrapping is necessary in every distributed network, in Tox you can bootstrap from anyone already in the Tox network, you don't have to use the nodes.

Toxcore has a setting to enable hosting of TCP relays so any client can host them if they want which makes it distributed.

The usernames are actually something on top of toxcore, toxcore uses tox ids. The username thing is

[2015-08-04 23:52] Astonex commented on #1397
Maybe if you had written any sort of documentation or protocol specification, that would be an actual possibility but you've purposely not done so you can keep control of the development yourself. And now you're asking for money to do these things you should have done before even starting on the code

[2015-08-04 23:52] hsimons commented on #1398
@irungentoo
So bootstrapping can be done using any node you want and an unlimited amount of nodes? That's a start, but currently there's half a dozen nodes only by default, all members of the Tox Foundation. That's not really what I'd call decentralization.

Next you say that anyone can be a TCP relay. Again, that's not true decentralization, because by default not everyone is a relay, so a few no

[2015-08-04 23:58] hsimons commented on #1397
@irungentoo could you please develop a bit more on why not getting $5000 from the community would make you slow down contributions to Tox? I don't see the connection.
And @Astonex does have a point, there have been lots and lots of requests to give proper documentation on the toxcore so others could work on it, fork their own version, etc.
It's been over 1 year since mahkoh stop working on his Rus

[2015-08-05 00:17] irungentoo commented on #1398
@hsimons First look up what distributed and decentralized mean. Federated systems (the offline messaging, usernames) are decentralized but not distributed.

The reason not everyone is a TCP relay is that not everyone should and wants to relay traffic.

Yes, if a real distributed solution for usernames/etc... that works and fits well is created we will use it.

The other issues are client issues. I

[2015-08-05 00:24] hsimons commented on #1398
So don't you agree nobody on a mobile connection is actually using a distributed network? They are sending their messages through a few TCP relays, that isn't even close to being decentralized. These TCP relays are supernodes.

Good to hear you plan to ditch the DNS solution for usernames, a real distributed method is needed. In the meantime, it would be good to at least warn users those website l

[2015-08-05 00:51] irungentoo commented on #1397
@astonex I am asking for money so that I have time to actually do those things.

@hsimons

If I can't earn money from Tox development I need to earn it by doing something else which means a lot less time for Tox development.

[2015-08-05 00:53] hsimons commented on #1397
So this indiego campaign is kind of a salary you want? It will be spent with your personal affairs, not with anything directly connected to Tox? The community will be kind of hiring you, if I understand correctly, and you use the money as you wish.

I'm not sure how I feel about this...

[2015-08-05 01:31] quininer commented on #1398
I think you're right, ToxDNS is unsafe, offline message is not perfect.
ToxDNS should be removed.
Offline messages should refer to https://freenetproject.org/.

[2015-08-05 01:44] im-grey commented on #1397
@irungentoo Alright, thanks.

[2015-08-05 01:45] suchipi commented on #1398
I was surprised to learn reading this that some of the clients I use every day are effectively sidestepping Tox philosophy (TCP relays, etc). If there had been a message on the wiki saying "warning: uses a proxy relay", or "warning: associates your username with your Tox ID out on the internet somewhere" then I wouldn't have downloaded them, but their being promoted on the official wiki of the web

[2015-08-05 01:53] hsimons commented on #1398
I believe almost everyone, if not everyone, feels the same as @suchipi
When you go to http://tox.im or http://tox.chat you read that Tox is completely distributed without any centralization, so you think "great!", click "download" and start using it. But in reality, most clients aren't actually fully decentralized? That's a huge issue! For a start, all mobile clients use TCP relays, so they effect

[2015-08-05 03:43] ProMcTagonist commented on #1398
I have voiced my concerns about supernodes being used for TCP relaying before and was told that it's just not desirable for most normal clients to participate in that because of their poor average connections. However, like @irungentoo said, it's up to the client developer to enable TCP relaying in their client, perhaps with some sort of automatic connection rating system. We have to talk to clien

[2015-08-05 03:48] ProMcTagonist commented on #1397
Presumably he'll use it on food so he can sit in his basement/office/cave and work on Tox 100% of the time, which sounds really nice. That sort of thing doesn't mesh really well with big-burst one-time fundraisers, though. Have you considered a Patreon?

Another funding solution I've seen mentioned in connection with avoiding more quereshi problems is https://snowdrift.coop/.

[2015-08-05 03:49] ProMcTagonist commented on #1393
Toxcore problem that will be solved in the future.

[2015-08-05 04:13] Mecvak commented on #1398
About the **usernames**
[There has been some discussion](https://github.com/irungentoo/toxcore/issues/1222) on how to best find other users without resorting to using toxids.

[2015-08-05 04:50] im-grey commented on #1398
Here's the biggest thing you're missing about Tox.

* It's not done yet.

When it's done it should be at least decentralized, if not distributed.

[2015-08-05 06:57] anonymous-4chan-user commented on #1397
Disclaimer, made an account to comment.

I'm sorry, but this feels like you're trying to threaten us in to giving you money otherwise you'll stop working on toxcore.

:-1:

As I've heard on IRC he lives at home and is bad at school and doesn't actually have any real IRL expenses.

I agree with this, I remember him asking for money to do protocol specs and other times offering to do so, but lets it

[2015-08-05 08:01] ameenross commented on #1397
I really have no problems with developer time being paid for, nor does RMS:

Furthermore, I find it absolutely uncalled for to require @irungentoo to cough up a list of all his personal expenses. And that coming from supposed privacy advocated is simply unfathomable.

Please don't justify these 'concerns' by pointing out problems with documentation or other issues with the project. Those are probl

[2015-08-05 08:14] ameenross commented on #1398
@hsimons

I'm sorry, you lost me at `I believe`.

[2015-08-05 08:33] anonymous-4chan-user commented on #1397
Because the code itself is so horribly undocumented that no one really understands it at all.

@Astonex and at least 2 others Have offered on multiple occasions to write it if @irungentoo explains it to him, and @irungentoo promises to do so. Everyone is okay with @irungentoo saying that code won't be worked on for like a week if he goes through and does that. He then ignores everyone when the hyp

[2015-08-05 08:46] ameenross commented on #1397
So is this really a political forum or is this the issue queue for a code repository? Post your concerns on your personal blog, on 4chan or somewhere else. I'm following this project to see its progress, not to see flamewars and discussions on whether or not @irungentoo is holding Toxcore hostage (that may or may not be the case, I really don't care enough at the moment as Tox is far from done).

[2015-08-05 08:51] ameenross commented on #1397
Actually, especially the fact that you're posting anonymously despite having an account is something that puts me off.

[2015-08-05 09:11] LapFox commented on #1397
$5000 for one month of development? I don't think a one-off payment is a mechanism I could get behind for this.

A monthly Patreon I'd happily contribute to, however as it stands, I won't be contributing.

[2015-08-05 10:30] LittleVulpix commented on #1397
@irungentoo , I agree with @LapFox , Patreon is perfect for this kinda stuff. I can get behind that as well.

[2015-08-05 11:15] subliun commented on #1398
@hsimons

Please don't lie. TCP relays cannot impersonate/tamper/do anything with your messages.

Mobile clients will continue to use TCP relays by default (note that Antox allows you to disable the use of these relays in the settings), as p2p is not viable due to battery life/data usage issues. Until these issues are solved mobile clients will not be "fully decentralised". If this is a major conc

[2015-08-05 12:01] AlexDaniel commented on #1397
I see no problem with this, even if it is there to provide a 1-month salary.

This is not some uncommon practice. Like, some of the Perl6 developers are actually getting paid. For example, see this: http://news.perlfoundation.org/2015/04/grant-proposal-perl-6-release.html. It is a really good way to boost development. That's basically the only way to make some people work on the missing parts, who

[2015-08-05 13:10] hsimons commented on #1398
@im-grey

That's fine, no problem at all. But it isn't finished yet and not fully decentralized. But the website claims it is and users are made to believe it is. And this isn't fine.
There should be a warning on the website telling users that Tox is still not finished and many features are semi-centralized workarounds for the moment, until they are properly implemented.
But right now the website

[2015-08-05 13:17] hsimons commented on #1397
@ameenross

The problem about users trying to contribute to documentation is that the toxcore code is messy, doesn't have a consistent coding style, is all over the place, lack comments, etc. If you tried to read it, you would know. Ask @Astonex or @mahkoh They tried working with toxcore before, but failed because of lack of readability. If this is something irungentoo does on purpose like Astonex

[2015-08-05 13:36] ameenross commented on #1397
Yeah see... I know what happened, you don't have to keep posting that lwn link every time to try to force your point across. I still fail to see what that has to do with a Github issue queue for a *code repository*. This is intended for technical discussions and that's the only reason I'm watching these issues. You are therefore polluting my GH notification center.

Again, post your concerns on 4c

[2015-08-05 13:44] ameenross commented on #1398
@hsimons I just happened to come across this: https://github.com/hsimons/fasttt/commits/master

https://github.com/tickelton/ghdecoy

[2015-08-05 13:51] hsimons commented on #1398
@ameenross
First, that was an old repository I had, if you check it out it doesn't even exist anymore.
And what are you even implying? What is ghdecoy?
If you doubt my account, just see when it was created: Oct 7, 2010. Now get lost.

This **ad hominem** you are doing doesn't help any anyone.
How about we stop pointing fingers and discuss the real issues with Tox claiming to be fully decentralized

[2015-08-05 13:56] ameenross commented on #1398
I'm calling out a troll. The fact that you're asking me to remove my comment just proves it. You instantly removed the repo after I posted my comment!

Whatever. I actually wrote that in my comment, plus a link. So you pretending not to know what it is just fails completely.

[2015-08-05 13:56] hsimons commented on #1397
Ask irungentoo then, he was the person who opened this issue.
He opened an issue about his "indiegogo fundraising campain [sic]" and now the community is clearing their doubts about the campaign. That's all. It looks like you are trying to dismiss all concerns people have by all this off-topic posts. Let's keep this on-topic: questions about the donations. That's it.

Again, irungentoo created thi

[2015-08-05 14:00] hsimons commented on #1398
How does it prove anything? We all know this is emailed to everyone, the message is out there. But at least removing from the issue tracker would help make it less polluted for those that don't read github through emails but use this web interface. Whatever, it's no use talking to you.

What repo? fasttt? I removed it some time ago. Why are you even talking about my repository? What does that have

[2015-08-05 14:04] subliun commented on #1398
@hsimons if you consider 5 minutes ago when you got called out "some time ago", then yes, you did delete it some time ago. If you want to have a serious technical discussion I'd start by telling the truth.

[2015-08-05 14:04] ameenross commented on #1398
Troll trying to make me out to be a troll.

Lol, yup. It says that in the linky right there.

Yeah, less than 20 minutes before this comment. It was accessible when I posted my comment. Stop pretending to be ignorant.

[2015-08-05 14:05] hsimons commented on #1398
@subliun

Let's get back on the technical discussion then. Stop investigating people's Github and start paying attention to the actual issues they raise.

Yes, it is a concern for me that when an unaware user reads that Tox is completely decentralized but when he downloads, for example, the mobile client Antox it uses exclusively TCP relays by default, which are basically supernodes. And the only

[2015-08-05 14:10] ameenross commented on #1398
Get lost @hsimons

For the record, I have got *absolutely nothing* to do with the Tox project at large, as evidenced by my account. I'm just seriously sick and tired of seeing trolls like you in my GH notification center, wasting my time and mental space.

You, OTOH, have NO track record to speak of **at all** on GH, except that you tried faking it with ghdecoy. You have the guts to call yourself

[2015-08-05 14:10] Mecvak commented on #1398
*"How many users will really know about this? There is no warning anywhere."*
Besides this warning?
**Note: Tox is still under heavy development — expect to run into some bugs. **

This "technical discussion" is not going to go anywhere.

[2015-08-05 14:15] hsimons commented on #1398
@Mecvak

some bugs != tox being actually not being decentralized as the Tox Foundation claims

Users need to know using mobile clients isn't a distributed solution (TCP relays - supernodes) and DNS usernames.
And the same goes for most desktop clients.

Also, irungentoo said offline messaging will be optional since it isn't distributed, but federated.
"Offline messaging is also an optional thing t

[2015-08-05 14:17] mahkoh commented on #1397
What a time to be alive when lwn writes articles about /g/-tier shitposting.

I reverse-engineered large parts of the protocol within two days back in April 2014 by going through the toxcore code. Why does someone who already knows the code and the protocol require $5000 to write the protocol down? Unless [you](http://catb.org/esr/writings/unix-koans/prodigy.html) have already forgotten half of it

[2015-08-05 14:25] ameenross commented on #1397
The only reason he posted it was to clearly indicate to the community that the campaign is really his an no-one else's. Developers who might want to support him know him only by his GH handle so that seems legit to me. I've already proven you to be a troll.

There may or may not be valid concerns about the Tox foundation or even the conduct of individual developers, but I see no reason that belong

[2015-08-05 14:30] suhr commented on #1398
@ameenross Have you forgotten the main rule about trolls? Either don't feed or do feed carefully. In both cases you shouldn't be hostile.

Just press the “Unsubscribe” button.

---
@hsimons

Don't play with words please: even with supernodes Tox *is* [decentralized](https://en.wikipedia.org/wiki/Decentralization). It may be not completely *distributed* in some cases, but even then it preserves pre

[2015-08-05 14:31] hsimons commented on #1397
@ameenross
Man, this is getting old. Don't want to take part of this debate? Unsubscribe from the issue.
But you polluting the discussion with inane comments and ad hominem is no good!
Really, we are discussing technical issues here: in which way will donations further tox development.
@mahkoh and @Astonex brought up really good points about documentation and how they don't see the donations fitti

[2015-08-05 14:32] ameenross commented on #1398
@suhr I'd have to press the unsubscribe button on dozens of issues. Not a hobby I'd be very fond of. But thanks for the advice.

[2015-08-05 14:33] d9h02f commented on #1398
Guys guys, you can just go to their profile and click the exclamation mark button at the top right, then 'Report abuse'.

[2015-08-05 14:34] ameenross commented on #1398
Already did

[2015-08-05 14:35] hsimons commented on #1398
@suhr
**Everyone** using a mobile client has their messages relayed through a few TCP relays (supernodes). This supernodes know who is sending a message and who is receiving, the amount of messages sent, their length, etc.
This is a true issue, because people using Tox are made believe their messages go straight to the recipient, but they actually are not on mobile clients. The supernodes act basi

[2015-08-05 14:35] d9h02f commented on #1398
👍

[2015-08-05 14:38] hsimons commented on #1398
@ameenross

Could you please press the button at least on this one or at least stop derailing the thread? The community would be really thanked.
Again, I urge everyone keep this focused on technical comments, no off-posting.
Now, back to what matters:

I believe almost everyone, if not everyone, feels the same as @suchipi
When you go to http://tox.im or http://tox.chat you read that Tox is complet

[2015-08-05 14:39] d9h02f commented on #1398
👍

[2015-08-05 14:51] ameenross commented on #1397
He already answered that above. The fact that you're not happy with his answer does not mean you need to keep repeating the same question over and over again.

I've seen that tactic before; hiding behind reputable community members. You're going much further than them, however. You have no standing to speak of in the community, yet you claim to speak for it. I have seen that before as well.

[2015-08-05 14:55] hsimons commented on #1397
Could you provide then, what irungentoo will use the donation money for, exactly? I just think this has to be absolute clear right now, so there's no misunderstandings like last time, that's all.

Again, can you please focus on the actual issues and discuss them, instead of screaming that everything is a conspiracy, that my account is fake (even though I have it since 2010), that everyone not dona

[2015-08-05 14:55] suhr commented on #1398
@hsimons

The problem is your web provider knows the same. Tox is not *anonymous* and never claimed to be so.

I don't enjoy DNS usernames solution, but it is fully optional, actually clients don't even mention about existence of it. And bootstrap is a thing *any* distributed network has.

[2015-08-05 14:58] hsimons commented on #1398
Wait, my ISP knows all this stuff? Who are my friends on Tox, who I send messages to, for how long we are connected, etc.?

I wasn't aware of this and I'm sure many other people also weren't!
This also needs to be addressed. Maybe a little warning saying that Tox isn't anonymous?

And it's awesome that it's optional. But those giving the option to use it should let users know about the risks.

But

[2015-08-05 15:01] Impyy commented on #1398
@hsimons

No, nice fallacy though.

Please stop linking to tox.im, it has nothing to do with the Tox Project.
Also, can you point me to the place on the tox.chat homepage that says that Tox is 'completely distributed without any centralization'? I can't find it.

[2015-08-05 15:03] hsimons commented on #1398
@Impyy

Could you please explain why? I understood by my investigation that mobile clients use TCP relays (supernodes) instead of UDP connections. Is this not true?

I wasn't aware http://tox.im wasn't affiliated to the Tox project. I thought that was the website advertised on the first time I read about Tox on HackerNews. Am I mistaken?

[2015-08-05 15:03] AlexDaniel commented on #1397
@hsimons as I've already mentioned in https://github.com/irungentoo/toxcore/issues/1397#issuecomment-127972775, whether he spends this money for the project needs or just for food, a lot of us just don't care. Deal with it.

[2015-08-05 15:04] JasonLocklin commented on #1398
If you don't know the answer to this, your comments do not belong on the issue tracker. Either do the research or ask those basic questions in a more appropriate forum.

[2015-08-05 15:08] hsimons commented on #1397
@AlexDaniel

But a lot of us care.
A few weeks ago @stqism asked for donations and used it to pay his college tuition, which created a big buzz from the community and other Tox Foundation members, because he spent the money on personal stuff and not "for the project needs". All I'm asking is for a clear explanation from @irungentoo so that there is no misunderstanding. We don't want to see all tha

[2015-08-05 15:10] hsimons commented on #1398
@JasonLocklin
Sorry for the noob question, as I said I didn't fully investigate the source code of Tox because lack of readability and documentation, but I assumed it protected all my information, because that's what it lead me to believe on the website and other advertisement threads over HackerNews and Reddit.

So, my ISP knows all this stuff? Who are my friends on Tox, who I send messages to, f

[2015-08-05 15:12] smalltock commented on #1393
Looks like it has indeed been suggested. I swear I did a few searches before submitting this one and didn't come up with anything. I'm sorry for the duplicate.

[2015-08-05 15:15] JasonLocklin commented on #1398
Reddit and IRC are excellent places to ask basic questions like that. The wiki does explain it, but it's understandable if it's not clear enough yet.

[2015-08-05 15:15] Impyy commented on #1398
You were saying that 'everyone' using a mobile client has their messages relayed through a few TCP relays. This is clearly not true as there is an option to disable TCP only mode, which makes toxcore prefer UDP connections. I, for one, have that option enabled.

Yes, it was the official website initially but you're well aware of what happened with the whole stqism situation, tox.im is not affiliat

[2015-08-05 15:15] Mecvak commented on #1398
@hsimons You can only claim what you personally, you cannot assume to claim what "many users" know. The best warning is that this is very early software. It is not finished. So use at your own risk. (They say this [anyways](https://wiki.tox.chat/binaries#gnulinux)
I don't see the need to place all these warnings in clear sight. You've been told the answers to your questions several times but repea

[2015-08-05 15:20] hsimons commented on #1398
@Impyy

I'm sorry, but barely anyone (save for very tech-savvy people) will be aware of this.
They won't know TCP relays aren't fully decentralized and that UDP connection isn't.
A fine solution for this is a message when starting the mobile client:

---- Choose your communication mode ----
1) Better Performance | Less Privacy
2) Better Privacy | Less Performance

Simple and would let users aware

[2015-08-05 15:21] suhr commented on #1398
Yes there should be a note Tox is not anonymous. Though you can run Tox over Tor.
Integration with I2P is an open [issue](https://github.com/irungentoo/toxcore/issues/942).

Yes, this is the registration site job.

Volunteers are welcome.

[2015-08-05 15:26] hsimons commented on #1398
@suhr
But isn't Tox aimed to average joes? I don't think they will know how to use Tor (or even what Tor is).
This should all be done by default.
Again, the same message could apply.

---- Choose your communication mode ----
1) Better Performance | Less Privacy
2) Better Privacy | Less Performance

[2015-08-05 15:36] Impyy commented on #1398
@hsimons
Granted, it's a little obfuscated and should be more clear for the average user. Please create a separate issue at the repository of said mobile client, toxcore has nothing to do with this. I'm sure its maintainer would also appreciate a pull request if you're into that ;)

However, this proves that the point you're trying to make in the OP is completely invalid.
This is also the case wit

[2015-08-05 15:43] hsimons commented on #1398
@Impyy

But offline messaging is a toxcore feature, TCP relays too, etc.
toxcore has many features that aren't fully distributed.

Yes, but it isn't user friendly. The average joe won't think: "there are so few bootstrap nodes, better use some other ones". No, they will just download and use Tox. It needs to be more clear.

What question? Ask it again and I'll give an answer, I probably missed it.

[2015-08-05 16:33] Impyy commented on #1398
toxcore has many features that aren't fully distributed.

Nice cherry picking. Bringing pieces of sentences out of context is not going to help you.
Toxcore has nothing to do with the fact that a mobile client doesn't make a user friendly distinction between tcp-only mode and prefer-udp mode.

Also not a toxcore issue.

"Also, can you point me to the place on the tox.chat homepage that says that T

[2015-08-05 17:29] hsimons commented on #1398
Not cherry picking at all, those are main features of Tox. Offline messaging for example has been awaited for months and TCP relaying is the core of tox communications together with UDP.

Good point, this is an issue with the clients. But in the end the clients are approved by the Tox Foundation (irungentoo and others) and pushed into the websites, so they are kind of in agreement with those clien

[2015-08-05 18:08] stal888 commented on #1398
@hsimons Here's your reply.

[2015-08-05 18:20] GrayHatter commented on #1398
I don't like to feed the trolls which you obviously are given that you keep jumping topics and restarting your first and already refuted points.

But I do want to redirect and mention that

No, it doesn't! If anything it needs to be more abstracted. If you care about security, you'll look into it and make decisions off of that. If you don't really care all that much about security, you're our targ

[2015-08-05 18:22] #1398 closed

[2015-08-05 18:23] ProMcTagonist commented on #1398
Your claims about TCP relays are invalid.

Any client can serve as a TCP relay. The client developers must enable this. Furthermore you claimed TCP relays can manipulate messages. This is wrong.

Your claims about bootstrapping are invalid.

Everyone in the network is a bootstrap node. The supernodes are only used for first-time bootstrapping. After that you bootstrap off of saved normal peers.

Y

[2015-08-05 18:58] SunShiranui commented on #1397
To me it seems pretty clear what the money is for. It's stated explicitly on the indiegogo campaign.

The money will be used to pay irungentoo to work full time on toxcore, as opposed to him working out of good will in his spare time.

I don't see anything wrong with a developer asking for donations for his work. He is free to spend the money as he pleases, like every worker in civilized society.

[2015-08-05 20:50] hsimons commented on #1398
Keyword here is "can". By default the don't and the target of Tox (average joes) won't ever enable that, which ends in a very very tiny percentage of nodes actually being TCP relays, making them super-nodes with more power they should have.

But there's only a few of those, around half a dozen people control all this first-time bootstrap nodes. Don't you agree there should be more, to make it a li

[2015-08-05 21:48] JFreegman commented on #1398
Take a couple very valid concerns and wrap it in a giant pile of bullshit and lies, as you've done here, and you've effectively convinced everyone to ignore those valid concerns along with the rest of your trolling, thus retarding later attempts at real constructive criticism related to said valid concerns. I call it the Alex Jones effect.

I sincerely hope that no one in the Tox community disrega

[2015-08-06 08:24] nurupo commented on #1397
@hsimons
Not really sure what is the issue you are having with this indiegogo.

It's a fundraising made solely by irungentoo for himself. He is the one who created it and the one receiving money from it. No one else is involved in it. It's just as if you yourself created a fundraising for you to work on Linux kernel, assuming you have some expertise in that. It's just like a individual developer d

[2015-08-06 08:41] retuxx commented on #1397
+1

[2015-08-06 10:36] codedust commented on #1397
+1 to @nurupo
Imho it's totally legitimate to be paid by the community. Yes, there is some loss of trust in some developers, but that's why @irungentoo collects the money by himself and not in the name of the Tox Foundation. Everyone can decide whether he/she trusts @irungentoo or not.

However, there is one thing I don't really like about the campaign:

[code]

As we have seen, keeping the source

[2015-08-06 13:08] ovalseven8 commented on #1397
Also if the Indiegogo campaign is not an official project of Tox, you should make a blog post and a little bit publicity.

How should potential contributors know that there is a campaign? @irungentoo

[2015-08-06 13:11] czarkoff commented on #1397
@nurupo, @codedust, @retuxx, @SunShiranui, @AlexDaniel and others: please, stop feeding the troll. Let this "issue" die.

[2015-08-08 06:56] randoms opened #1401 "Windows cross compile error"
After you run

    $WINDOWS_TOOLCHAIN-gcc -Wl,--export-all-symbols -Wl,--out-implib=libtox.dll.a -shared -o libtox.dll *.o ../lib/*.a /usr/$WINDOWS_TOOLCHAIN/lib/libwinpthread.a -liphlpapi -lws2_32 -static-libgcc

you will get an error

    ../lib/libopus.a(analysis.o): In function `tonality_analysis':
    /home/randoms/build/opus-1.1/src/analysis.c:486: undefined reference to `net'

the fix is si

[2015-08-09 16:08] friend1 commented on #1397
I am a friend of Harry (hsimons)
We know each other since we were kids and he asked me to post here so everybody knows what happened to him. I'm not really a computer person, but signing-up to this site was easy enough.

hsimons was banned from this repository without any reason while he was discussing the issues.
Here is what he told me.

Really, what were they thinking with this donation plan ri

[2015-08-09 16:08] friend1 commented on #1398
I am a friend of Harry (hsimons)
We know each other since we were kids and he asked me to post here so everybody knows what happened to him. I'm not really a computer person, but signing-up to this site was easy enough.

hsimons was banned from this repository without any reason while he was discussing the issues.
Here is what he told me.

Really, what were they thinking with this donation plan ri

[2015-08-09 16:31] nazar-pc opened #1402 "librtmp1 from repository breaks Steam and possibly other packages on Ubuntu 15.10 x64"
Why `librtmp1`, `libssh-gcrypt-4` and other not tox-specific packages present in repository?
They should not be there since there are already such packages in stock Ubuntu reposoitory.

[2015-08-09 16:45] dvor commented on #1398
It isn't censorship, [they're just showing you the door](https://xkcd.com/1357/).

[2015-08-10 16:34] Impyy commented on #1349
This happened to me today as well, using latest toxcore and not using tcp-only mode.

[2015-08-11 07:27] LittleVulpix commented on #1220
It happened to me once today after a long time. In general I have these issues if I try to send something to someone after I've been online for an extended period of time.

[2015-08-11 09:05] LittleVulpix commented on #1349
This happened to me again today, using TCP-only mode. Receiving a file from a contact with poor connection caused him to show offline to me temporarily, interrupting and failing the transfer as a consequence.

[2015-08-14 22:30] aaannndddyyy commented on #1398
great, so the stupid trolling still is going on. I thought it was over weeks ago.
But I must admit, it was an entertaining read. So much technical incompetence on Harry's side, and then the excuse is that the code is not documented enough. Hey, toxcore code and its - admittedly extremely incomplete documentation - are not meant to replace High School education…

[2015-08-15 03:29] strixaluco commented on #1395
Indeed, this should be useful.

[2015-08-15 05:55] nurupo commented on #1401
Can't reproduce. What is the system you are using and what is the cross-compiler version?

[2015-08-15 07:08] nurupo commented on #1402
Don't think someone would bother putting them in there if they weren't needed for something. Would need to ask @tux3 to know for sure though. For example, I see that 14.04 LTS and 14.10 (discontinued as of August, but was relevant when that packages were created) don't have those packages or have only one of them.

The issue you are having is related to the fact that the current package repository

[2015-08-15 16:14] nazar-pc commented on #1402
Very good idea to have different repositories for different versions of distributive.
Also old repository had special built of qTox called `qtox-unity`, it was patched to work properly in latest versions of Unity DE, so it might be put for recent Ubuntu versions instead of regular `qtox` package, because no one needs an app with broken tray icon.

[2015-08-16 00:31] o-jasper opened #1403 "Where is the API going"
[I see this](https://github.com/irungentoo/toxcore/pull/1375), but dont see like a statement where it is going?

I think perhaps a separation between the messaging-application stuff and communication-between-pubkeys might be good.

For transferring data; what of the idea of "exposing a function"? I am trying to implement this with lua.(Lua is more suitable than C for passing functions, of course..

[2015-08-16 04:51] randoms commented on #1401
I used a vm, just as  guide said.
System Ubuntu 15.04 x64
compiler detail

    COLLECT_GCC=i686-w64-mingw32-gcc
    COLLECT_LTO_WRAPPER=/usr/lib/gcc/i686-w64-mingw32/4.9-win32/lto-wrapper
    Target: i686-w64-mingw32
    Configured with: ../../src/configure --build=x86_64-linux-gnu --prefix=/usr --includedir='/usr/include' --mandir='/usr/share/man' --infodir='/usr/share/info' --sysconfdir=/etc --l

[2015-08-16 12:09] torvn77 opened #1404 "Add tox EQ and improve the settings of the codec."
After half an hour of chatting with friends via headphones I first got sick ears,
and by the end of the hour, sick and head.
The reason is the high frequency distortions and harmonics.
Please add
1)higher quality codec, even though he will generate a little more traffic.

2)the EQ to filter out the muck and adjust the sound settings under the current situation.

[2015-08-17 10:02] ElLamparto opened #1405 "https://tox.chat: qTox Screenshot"
I realize it may not be a proper place for the issue, but it is important and I do not know where to put it otherwise.

On https://tox.chat there is a qTox screenshot. On the user list there is Alex with a message "you're going to DIE" and with a photograph of Alex Jones.

Personally I respect Alex Jones very much and - frankly - if it was my first encounter with Tox, I would keep away from it - j

[2015-08-17 21:08] Impyy commented on #1405
https://github.com/Tox/Tox-Website/pull/41

[2015-08-17 21:23] linux-modder commented on #1405
@ElLamparto, While I could possibly  see you issue, although I personally  think you are a armchair  fan  if that as that is a KNOWN catch phrase of  Alex Jones from years back and its a Tag line,  AKA bio line Users can  change that  at will much like that  Avator for a  profile.

[2015-08-18 01:21] najamelan opened #1406 "Create a chat robot so new users can test the software before having any friends"
IM software works because you have friends that use it as well. As a new product Tox needs to attract new users. One thing I find a bit challenging is that I can't see the software work at all until I can convince someone to install and use it as well.

If you would run a server with one or several AI bots people would be free to add as friends to test the software, it would make it live much more

[2015-08-18 01:37] najamelan commented on #1406
Ok,

I just found the groupbot on the wiki, that looks like a good start.

[2015-08-18 05:52] GrayHatter commented on #1406
@irungentoo close this as solved

[2015-08-18 08:55] LittleVulpix commented on #1406
There used to be a LoadTest, python test bot. you could add it and talk to it and it'd send you back whatever you said. It was perfect for testing; sadly, the pyTox developer no longer maintains it and the project died with the api break. It'd be nice to have a "single-user" bot like this again.

[2015-08-18 10:26] zetok commented on #1402
@nazar-pc currently there are binaries available for Linux that doesn't have this problem: https://wiki.tox.chat/binaries#other_linux

[2015-08-18 11:01] zetok commented on #1406
@najamelan there are already bots that may act in similar way:
* [Lee](https://github.com/zetok/Lee) - not really an AI, and given that it feeds on user input from groupchat, whatever it says may be.. questionable. ID: 90F4C2558794EDC54C62585541DC7105583D9E20B5B29F0034B5032A15F4CE3CEC4927D6D779
* Spambot - https://github.com/zetok/tox-rust-neurological-warfare-bot

[2015-08-18 12:13] nazar-pc commented on #1402
@zetok, well, using repositories MUCH more convenient that downloading each update manually, isn't it?

[2015-08-18 12:42] zetok commented on #1402
@nazar-pc yes, but I for one don't know how to setup repo, nor do I have an access to try to make one.

[2015-08-20 14:20] o-jasper commented on #1403
The communications over tox i speak of https://github.com/o-jasper/tox_comms

[2015-08-21 11:15] blobgo commented on #1397
What a discussion, but let's switch to another nicer topic and get back to the fundraising.
At the indiegogo campaign there is one perk:

And actually one person has chosen it, WOW. So @irungentoo would it be possible you could tell us what feature the person choose?
I mean we would see it anyway when it's implemented but I'm quite curious what it might be...

(BTW maybe this perk would be somethi

[2015-08-21 21:42] GrayHatter commented on #1397
@blobgo hsimons is a troll with the goal of stirring up shit and trying to create FUD, he's been banned...

In other igg news, irungentoo is just under 50% funded with slightly less than 1/2 the month remaining, now would be an ideal time to donate! Help get toxcore the development time needed to be as awesome as we all know it will be.

[2015-08-22 11:09] codedust commented on #1397
@blobgo The chosen feature for the `Become the Boss` perk (chosen by @LittleVulpix) was improving file transfers which could be more reliable than they are right now, especially on slow connections.

[2015-08-22 11:34] subliun opened #1407 "Core should handle message splitting"

[2015-08-22 11:50] suhr commented on #1407
Should it?

[2015-08-22 11:51] Impyy commented on #1407
No, core shouldn't try to interpret the content of the data that's being sent as messages in any way.
I think this has been discussed before, all core should take care of is sending the data.

[2015-08-22 11:55] subliun commented on #1407
It doesn't have to interpret the content of the data that's being sent. Core currently doesn't take care of sending the data and makes client authors deal with limitations that they shouldn't have to care about.

[2015-08-22 12:00] suhr commented on #1407
Yes it does have to. You can't properly split data without knowing what's inside.

[2015-08-22 12:03] subliun commented on #1407
@suhr see edit

[2015-08-22 12:04] suhr commented on #1407
So, you want split+merge in toxcore?

[2015-08-22 12:04] subliun commented on #1407
Yes. Perhaps I could have titled the issue better.

[2015-08-22 17:31] azazar opened #1408 "Tox IDs too long"
Tox IDs take too much space on a webpage. Why not use base58 encoding instead of hex? Vanity generator can also be used to shorten IDs further.

[2015-08-22 18:27] Jeeppler commented on #1397
nice :-)

[2015-08-22 18:32] LittleVulpix commented on #1408
@azazar just use https://toxme.io/ :)

[2015-08-23 07:05] 4311021x commented on #1360
I agree. Support for multiple profiles would be great!

[2015-08-23 08:59] ProMcTagonist commented on #1408
@azazar You can also use QR codes and tox:<ID> links, both are very easy to use.

[2015-08-23 10:27] o-jasper commented on #1408
I think base58 *might* be better too. Disadvantage is that they might look too much like bitcoin addresses. Dunno if something like base50 or base32 looks drastically different to the eyes?

Or alternatively, go unicode.. It'll probaby "select right" with the mouse. Then could base... high. Gotta be careful of doppelgangers there though...(and use unicode that is always installed)

toxme.io is a c

[2015-08-23 10:32] o-jasper commented on #1406
Chatter bots are cool but not really this project?

[2015-08-23 10:41] zetok commented on #1406
@irungentoo this can be closed.

[2015-08-23 10:53] o-jasper commented on #1407
Sure it can properly split the data without knowing what is inside? All it needs to know is some bunch of data should be called with a callback later, whole, and to then send over the data, and only once entire thing is over, do the callback on the receiving side. Of course, there should be a way to enforce a max size.(so that it is not easy to use as memory-hogging attack)

My opinion in how to d

[2015-08-23 10:56] o-jasper commented on #1405
To be frank, I dont like Alex Jones, spouts too much bullshit. (I am anti establishment)

[2015-08-23 11:04] suhr commented on #1407
Carefully, callbacks may cause headache with the ownership model (C++/Rust).

[2015-08-23 11:31] #1406 closed

[2015-08-23 22:02] Jeeppler commented on #1360
It would be nice to have one master key and than subkeys for the physical nodes.
The master key is the first node the user creates, all other physical nodes have to be accepted and have to be verified by the node with the master key.

It is just an simple idea, maybe someone has a better idea and more knowledge of how to implement such a thing. But it is not good that a profile is bound on a speci

[2015-08-23 23:10] ProMcTagonist commented on #1360
The nodes should be equal to each other for less headache.

[2015-08-24 02:12] Jeeppler commented on #1360
@ProMcTagonist this is true you are right, my idea was not that good, but the problem still exists.
Another idea: Syncthing, the Mozilla Firefox Sync service and Blue-tooth do a device pairing or peer pairing. This is also done by the pidgin OTR plugin. It works like that (extremely simplified):
1. Device A generates a Secret
2. The secret will be send to device B
3. The user of B types the secret

[2015-08-24 02:40] optimumtact commented on #1408
Well correctly the toxdns system is federated, but yeah, it does compromise somewhat on decentralized nature and safety for convenience.

[2015-08-24 14:10] grinapo commented on #1251
Maybe it would help to track down the issues to generate stats about the various kinds of traffic tox uses and see what uses how much, and after it could be checked why and whether it can be shrunk or not. My guess (without looking) is that it may be an inherent design problem with the protocol and would go the same as bleep: unusable on mobile due to extreme high protocol traffic overhead.

[2015-08-24 19:52] azazar commented on #1408
Contact information should be compact. QR codes or very long addresses look awful near e-mails or phone number.

[2015-08-25 15:40] urras commented on #1397
@friend1

How desperate can you be neeh?

[2015-08-25 18:16] GrayHatter commented on #1408
is there any reason that this shouldn't be a client issue? Toxcore should/could/does see tox addresses as binary, clients should/could use a different base to represent them?

[2015-08-25 22:26] o-jasper commented on #1408
Well you want the different clients to be consistent about it! You want the address to be usable in any client.

[2015-08-26 07:28] ameenross commented on #1408
@GrayHatter I'm thinking about the Tox URIs

[2015-08-26 08:11] ElLamparto commented on #1405
@o-jasper, I don't mind your opinion on Alex Jones at all, but the main Tox page is just not a right place to express it. It is counter productive.

By the way, I do not like the phrases below either:
"So, what are you waiting for?, Select your OS and get started!"

This is pushing people and nobody likes to be pushed. Counter productive too.

[2015-08-27 13:25] Jeeppler commented on #1397
@friend1 first of all @irungentoo asks directly for money to pay himself for one month and 5.000 $ is not that much for an experienced developer like him. If he pays his debts with this money in the one month I don't care, as long as he does the development in this month.
To be clear, there is always the risk that something happens, but investing e. g. 25 $ in an Indigogoo campaign does not make m

[2015-08-27 16:09] friend2 commented on #1397
First, it's very convenient for you all to ban @hsimons and me and then talking bad about us.
hsimons told me to ask "but @stqism was kicked from the project because he used donation money to pay his personal affairs. Now @irungentoo is asking for donation money so he can... pay his personal affairs! Isn't this double-standard? Also, everything is too evasive and shady, irungentoo doesn't explains

[2015-08-27 16:13] friend2 commented on #1408
Websites like https://toxme.se/ and https://toxme.io/ are completely centralized and defeat the purpose of Tox (decentralization).
It's very weird that the tox developers allow this websites to be advertised like this everywhere.

Huge point of failure and privacy concern.
Should stay away from centralization like this.

[2015-08-27 16:20] LittleVulpix commented on #1397
I can't believe anyone would go as far as to talk to their friends about some random github project on the phone. Most people would just give up. I don't believe that you're not hsimons even for a second :p Either that or you and hsimons are best friends for life and you are doing him a super big favour :dancer:
Irungentoo is not shady, he said exactly what the money goes for, and you are paying f

[2015-08-27 17:17] nachfuellbar commented on #1408
@friend2 i don't see problems with centralized services like toxme.io because they are optional
Maybe it should be said this services are optional and centralized

[2015-08-27 17:24] Jeeppler commented on #1397
For both @friend2, @friend1 and @hsimons everybody is polite, the only guy who was not is @hsimons.

@LittleVulpix for all other arguments look at @LittleVulpix's post above.

[2015-08-29 09:23] Redee opened #1409 "Background colors / images of chat area"
Only white very bad for eyes.
Add background colors / images to chat area.

[2015-08-29 09:33] Jeeppler commented on #1409
@Redee which Tox client do you use? What is the name of the program when you use Tox?

[2015-08-29 11:23] markus1540 commented on #1409
definitely not a core issue...

[2015-08-29 11:49] o-jasper commented on #1408
@friend2 good point; they're alledgedly against MITM, but really provide a central location to MITM. It is even demonstrated by domains they lost recently.

Question: if a connection is MITMed can you see that by the delays or something? Suspect it'd be too easy to false-positive or might be noisy.

I think blockchain approaches could be neat.. Probably would weigh the project down. Imo; let some

[2015-08-29 13:06] Redee commented on #1409
qTox for Windows latest version >>
![2015-08-29_160522](https://cloud.githubusercontent.com/assets/2652667/9562008/d21a5fbc-4e67-11e5-931b-f17b7fc635bd.jpg)

[2015-08-29 13:09] Redee opened #1410 "Keep group chat and history"
Keep group chats after closing and auto-save history from them.

[2015-08-29 13:15] suhr commented on #1409
Create an issue at https://github.com/tux3/qTox/issues.

[2015-08-29 13:23] Jeeppler commented on #1409
@Redee

1. please  create an issue at https://github.com/tux3/qTox/issues  (like @suhr wrote). Furthermore describe your issue better the next time, using a screen shoot to visualize your problem is always a good idea.

2. please close this issue

[2015-08-29 13:29] Jeeppler commented on #1410
@Redee Is this a functionality of the underlying toxcore library or is this an issue of the graphical interface (in your case qTox)?

To make this clear toxcore is just the underlying library which offers some functions for the client developers. There are many clients like uTox, qTox etc. build on top of toxcore. What you normally see on your desktop is one of the clients and *not* toxcore.

[2015-08-29 17:02] suhr commented on #1410
This is the new groupchats feature. They're still in development.

This is not a core feature.

[2015-08-29 18:41] ProMcTagonist commented on #1397
No.

No.

you're not worth talking to

[2015-08-29 18:52] GrayHatter commented on #1397
Don't feed the troll
On Aug 29, 2015 11:41, "ProMcTagonist" <notifications@github.com> wrote:

[2015-08-30 07:02] Redee commented on #1410
@suhr thx for answer.

[2015-09-01 12:13] jontis opened #1412 "fedora repo?"

[2015-09-01 12:42] Jeeppler commented on #1412
:+1:  would be nice to have

[2015-09-01 12:55] suhr commented on #1412
Not a core issue.

Btw we still need a repo for packaging issues. There's https://github.com/suhr/Packaging but it's not official.

@irungentoo @nurupo @Zer0-One, please react somehow.

[2015-09-01 14:06] Jeeppler commented on #1412
In my opinion the distribution of an application like qTox should have a high priority per default.
You should have packages for the following distributions in order:

1. Debian
2. Ubuntu
3. Fedora
4. Archlinux (has already AUR packages)
5. CentOS

and Windows should have a high priority too.

and maybe (FreeBSD)

To give you an conversation example, on how important this is:
Alice - software engi

[2015-09-01 14:27] zetok commented on #1412
@Jeeppler I think that your example is a bit invalid here, since there are static binaries that they could use.

[2015-09-01 14:36] victorheld commented on #1412
@Jeeppler Aren't there the binaries over at the [tox.chat wiki](https://wiki.tox.chat/binaries) they could use?

[2015-09-01 14:52] Jeeppler commented on #1412
@zetok binaries are maybe step one, but hopefully one of the next fedora releases has the Tox library, qTox, uTox and Toxic in there repositories and hopefully soon community packages for Archlinux.

@zetok and @victorheld it is nice you have binaries again. The last time I looked they have not been that many binaries, so nice work :+1:

[2015-09-01 14:53] Zer0-One commented on #1412
We're basically done with the Debian repository. See https://wiki.tox.chat/binaries#debian, as well as https://wiki.tox.chat/developers/jenkins/packaging. Packages pushed from the build server are added to the repository every night at midnight.

Next on the list are Fedora and CentOS, but it's going to take time. I need you guys to be really patient.

As far as reporting issues related to build i

[2015-09-01 14:54] Jeeppler commented on #1412
@Zer0-One nice :+1:  keeping going :-)

[2015-09-01 15:56] linux-modder commented on #1412
@jontis , if you have not  compiled / used the new static binaries since the  old  repo died you are  seriously  behind for 1

secondly, As a Fedora user myself your assumption that  users can't / won't compile is  utter bullshit.  #fedora-social  and  other irc channels (well documented  how to use for the un-aware) are  packed with helpers not to mention #tox*

@Zer0-One, @zetok  for the repo te

[2015-09-01 16:23] jontis commented on #1412
Not sure what happened here but I'll try to address the better comments.

@suhr understood, thank you.

@Zer0-One great, thank you. Just wanted the an answer to the question, even if I now understand I asked it in the wrong place. Thank you for answering.

About the rest: I really like this project and want to see it gain traction quickly. Having a repo helps. Sure, many of us can compile ourselve

[2015-09-01 16:44] nurupo commented on #1412
There is also a weak point that you have to trust our binaries to be secure. If we had reproducible builds, like what Tor and Debian do, then you would be more basis for trusting. So if any of you want to help us by setting up reproducible builds, you are very welcome.

[2015-09-01 17:02] linux-modder commented on #1412
Should have  both 32 and 64  builder / tester boxes  ready by  next week if
someone wants to spin me  up on the  needed steps.... (Fedora  and  any
additional linux  distros I can  fit on them (space wise limited to ~ 400Gb
atm)

[2015-09-01 17:40] nurupo commented on #1412
@linux-modder
It's not an issue of not having build boxes. We have our own build boxes. It's more like we want someone to figure out how to do reproducible builds of toxcore, qTox (and by extension all of its dependencies: Qt, ffmpeg, etc.), uTox and others, and tell how to set it up : )

[2015-09-01 19:17] jontis commented on #1412
Fedora has started using this:
https://copr.fedoraproject.org/

It might be helpful for you.

[2015-09-01 20:16] linux-modder commented on #1412
Due to  ffmpeg   it  is  not  qualified :(

Corey W Sheldon
Fedora Ambassador, North America

[2015-09-02 12:46] aaannndddyyy commented on #1412
I don't know about fedora, but for Debian/Ubuntu/... KYTV does some good packaging and handles all dependencies properly.
He is not member of the tox team, but a Tails and I2P dev. So it is not official, but you can use his packaging scripts (it's all transparent and free open source, of course), build for yourself and host the resulting files for yourself, and don't have to worry about Debian, Ub

[2015-09-02 12:52] aaannndddyyy commented on #1408
@o-jasper about the MITM threat there is already a ticket. The easiest way to mitigate that is a simple authentication protocol, where you verify your friend after adding or in the process of adding him.
Some also suggested, the central server give out only partial tox ids, and the user must complete them. This would not be a good solution though, as it is too easy to break.

[2015-09-02 15:25] nurupo commented on #1412
@jontis that sounds like a regular build system with a package repository.We already have them.

I said explicitly that what we would like help with is reproducible builds, similar to what Tor, Bitcoin and Debian do. Google "reproducible builds", since you all seem to miss the point thinking that we either don't have build servers or package repository or both.

Also read [Reflections on Trusting

[2015-09-02 21:56] jontis commented on #1412
You are absolutely right that I might be missing the point. This is not my area of expertise, I'm just a low level user.

What I tried to convey is that it is really good to be included in a distributions most standard repositories to accumulate users and gain traction for the project, and, lets face it, if you don't gain traction and users, most of your project will be dead and the time you put i

[2015-09-02 22:31] linux-modder commented on #1412
@jontis,

The creation of a repo that would be in the  `official`  repos as it
appears you are leading to is not possible in part due to ffmpeg and
 Fedora Licensing Policies.

@nurupto,
you should be able to build / run createrepo on Fedora docker images or
OpenQA stacks to create valid repos for fedora however.

linux-modder
Fedora Ambassador, North America

[2015-09-02 23:04] jontis commented on #1412
@linux-modder , yes? Therefore http://rpmfusion.org/ ?

[2015-09-02 23:24] nurupo commented on #1412
@jontis What's currently being worked on is a Tox package repository with static binaries of clients and later toxcore, and [as you can see](https://pkg.tox.chat/), the current plan is to provide packages for CentOS, Debian, Fedora and Gentoo.

[2015-09-03 01:44] linux-modder commented on #1412
NOT rpmfusion it would be its own repo...

linux-modder
Fedora Ambassador

[2015-09-03 09:51] suhr commented on #1412
@Zer0-One Unfortunately, mailing lists are opposite to user friendly and ain't suitable as a bug tracker at all.

[2015-09-03 11:18] x368 commented on #1408
@friend2 :+1: indeed the documentation and advertizing badly lacks a clear distinction between secure and insecure tools and behavior.

This is without doubt confusing to many of the visitors. The security minded ones feel being cheated. The naive ones get an impression that the system is too complicated without a good reason.

Moreover, the security minded also get the impression of overcomplicat

[2015-09-03 11:50] x368 commented on #1408
@aaannndddyyy As long as a "simple authentication protocol" is not detailed and analyzed it unfortunately remains nothing more than a wishful thinking and can hardly be called "the easiest way to mitigate".

The whole issue of MITM-in-Tox stems from misunderstanding of the promises of the Tox protocol and network. This network does __not__ in any way establish a proven connection between a key and

[2015-09-03 12:01] aaannndddyyy commented on #1408
@x368 re the first of your two comments: +1
A clear separatation and distinction would be good.
Mark insecure things as insecure.
But many facebook and whatsapp users would be scared by reading it is insecure, and stay iwth their services, not knowing that they are insecure too. So it should be statted that insecure means basically as insecure as those services, not more not less.

re your second

[2015-09-03 15:13] x368 commented on #1408
@aaannndddyyy Thanks for the constructive reply.

I agree that the socialist millionaire protocol would be useful to exchange Tox keys between two parties possessing a common _secret_ token (among others, each pair of prospective parties needs a separate secret for the protocol to be applicable).

Basically, this would move the hard task (establishing a reliable shared secret) somewhere else so th

[2015-09-03 16:07] aaannndddyyy commented on #1408
it is not a solution t oeverything, zrtp might also be handy, but only if you really do voice.
If you analyze who you would want to authenticate:
1) old time friends: find them via some lookup service, authenticate them with a question only they should know, using a zero proof protocol like the one mentioned above. If you haven't seen them for long the voice may have changed and zrtp is not so use

[2015-09-04 00:59] optimumtact commented on #1397
congratulations on the successful funding

[2015-09-04 02:03] GrayHatter commented on #1397
@irungentoo congratulations, it seems as this bug can't be reproduced
because the campaign funded... so I think it's safe to mark this as fixed
and close it?
On Sep 3, 2015 17:59, "Orange Borg" <notifications@github.com> wrote:

[2015-09-04 03:39] fcore117 commented on #1397
success and congratulations, this is news of the day.

[2015-09-04 06:48] Jeeppler commented on #1397
:+1:

[2015-09-04 06:59] x368 commented on #1408
As of being offtopic, I guess the length of the ID matters only when manual typing and manual verification are inevitable.

Making the verification procedure less tedious reduces the "length problem" a lot (even though having _some_ "canonical" human-readable representation of a Tox ID remains important).

Hope also that our discussion will be found when people look for related topics.

Agreeing w

[2015-09-04 07:25] LittleVulpix commented on #1397
lol @GrayHatter , nice meme :+1 but yeah! GJ on successful funding! Hopefully this will propel tox forward by a few light years.

[2015-09-04 14:59] Nextnx commented on #1404
Wrote it somewhere else also, though might belong here?..
I also get different noises from most of my contacts and some are high enough to be annoying in conversations. Since I have used the mumble client/server before and it filters the sound so mush better imo (very clear of noises), that I was wondering if it's possible to adjust the current filter (settings?), or if their filter could be imple

[2015-09-04 15:40] urras commented on #1397
Wow, congratulations guys!

[2015-09-04 17:31] ovalseven8 commented on #1350
To be honest, I don't believe that Tox needs something like this at all.
We should keep it simple, secure and privacy-friendly as possible.

A simple window with the display of the Public key with further explanations would be fine -> https://github.com/tux3/qTox/issues/235#issuecomment-54132957

The implementations, that are suggested here would cheat the purpose of the NoSpam value in my opinion

[2015-09-04 19:31] Jeeppler commented on #1404
Have you tried it with and without audio filter?

The audio filter option is implemented in qTox and uTox, as I know and sometimes you get a better result by not using the audio filter.

[2015-09-04 19:39] aaannndddyyy commented on #1350
@ovalseven8 The tox id with nospam would not be given out at any time, so this point if your criticism is mute.
Re ToxMe: It is centralized. The model of friends introducing friends is a more distributed model without central points or a hierarchy.

[2015-09-04 21:34] ovalseven8 commented on #1350
@aaannndddyyy Of course, I have expressed myself wrongly. :wink:
What I mean is that you cannot control then from who you're getting friend requests. Without this function you can change your NoSpam value and nobody is able to make a friend request unless he knows your current Tox ID. So, you're able to decide it. But with such a function your contacts are able then to give their friends the possi

[2015-09-04 21:53] aaannndddyyy commented on #1350
@ovalseven8 As you would know which firend forwared the request or signed or whatever, i do not see a problem here. If you ge spammed from requests that a certain friend forwared, tell him to stop. if he does not, unfriend him.

[2015-09-04 22:18] yurivict opened #1415 "'Disk full' causes loss of all chat history"
I am using qTox, had disk full condition and rebooted. After this chat history is blank.

If, for example, data was in SqLite DB, this wouldn't have happened. I believe clients just rewrite the whole DB every time, and this makes it error prone.

[2015-09-05 09:09] suhr commented on #1415
Chat history is not a toxcore issue. And yes, qTox uses sqlite.
Please report the bug at https://github.com/tux3/qTox/issues.

[2015-09-05 12:42] Nextnx commented on #1404
Yes I've, the filter do work, though there is some noise still present and sometimes annoying enough.
A few contact are crystal clear but they have above average sound mic/setup, like myself.

[2015-09-05 19:10] blobgo commented on #1395
As https://github.com/tux3/qTox/issues/2086 is already closed, because they show the toxcore version now I think this issue can be closed.

[2015-09-05 19:10] #1395 closed

[2015-09-05 19:11] blobgo opened #1416 "Provide git tags for toxcore version"
In https://github.com/irungentoo/toxcore/issues/1395 I found out that toxcore now has versions.
So please provide git tags for these release (versions)...

[2015-09-07 20:03] vikstrous opened #1417 "Not encrypting the message type for every message"
I noticed that pings contain the message type inside the encrypted section as well as outside. However, other message types do not. This includes getnodes and send sendnodes_ipv6. I don't know about the rest of the message types because I haven't looked at them yet, but since there is no standard place in the packet for the encrypted message type, I suspect it's also omitted from a lot of other me

[2015-09-07 22:24] SkyzohKey opened #1418 "Feature request - Add ability to edit a sent message."
I was thinking about how Tox could be _even better_ and realized that being able to edit an already sent message could be a really nice feature :)

**PoC for simple message editing in Toxcore:**
1. The **user** right-click a message and click on "_Edit the message_".
2. The **client** emit a _broadcast packet_ with the _message_ id and the edited message.
3. The **other(s) client(s)** handle this

[2015-09-07 22:43] o-jasper commented on #1418
Kindah worry about overcomplication of tox core. I think a solution is to separate concerns; one part is about communication,(toxcore) and the other part about interpreting.(messaging build ontop)

It is easy to code the feature, but if you look at the API, how it might be done is another callback and another function for generating it. Basically half of the suggestion of #1403 is to accept that t

[2015-09-07 23:09] ciechomke commented on #1418
I think it is really bad feature. Imagine somebody say something to you, edits it and he can said that "I didn't say it earlier". Feature useful on pages with comments like facebook, github but not in instant messenger. It is completly pointless.

[2015-09-08 01:32] vikstrous commented on #1417
I've looked at all the different types of packets throughout the codebase and none of them are length-compatible for this sort of attack. Also, the length checks seem to exist everywhere. I might have missed something and my analysis would be much more thorough if I had a protocol spec, but I think it's safe to close this issue until anyone can find an actual attack.

[2015-09-08 01:32] #1417 closed

[2015-09-08 07:30] ProMcTagonist commented on #1418
not a core issue

[2015-09-08 14:59] GrayHatter commented on #1418
@ProMcTagonist, It is actually a core issue. There is no method in core for identifying or getting a unique message. So any method a client would have to implement would break support for other clients. So it's exactly the type of thing that would be best handled in toxcore.

[2015-09-08 15:07] GrayHatter commented on #1418
@ciechomke you have a problem with the implementation, not the feature. Any client that implements it would likely (unless they are actively trying to suck) store the edit history. I.e. the original message would remain, and would be accessible to both users.

Your friend could then claim he never said anything. But you would still be able to see the original message. And in that case the fix woul

[2015-09-08 15:19] retuxx commented on #1418
I agree. If someone is able to edit an already sent message, you loose the integrity of chat history.
Moreover, it increases the complexity of the code.

[2015-09-08 18:14] klonamy commented on #1418
I think that's a future for social network not a messenger

[2015-09-08 18:15] JFreegman commented on #1418
@retuxx

The previous messages would ideally be kept, like @GrayHatter said.

@klonamy
Skype has it, and we are the "Skype replacement" after all.

I think this is a good idea, but it should be an option that only works if both clients have it enabled. In order to achieve this without desyncing the chat history you would need the client receiving the edit-request to send back an ack indicating whe

[2015-09-08 19:01] klonamy commented on #1418
@JFreegman True, but only recently. I still think, if you going to post something, think first.

[2015-09-09 00:01] tblah commented on #1412
I understand that you have no reason to trust me but if anyone is interested I run a nightly repo for Fedora 22 x64 on copr. Currently it is only toxcore and toxic but I should get some more clients added this week.

http://copr.fedoraproject.org/coprs/tblah/tox-nightly/

[2015-09-09 04:22] vikstrous opened #1419 "better support of ipv4-only nodes"
When asking a peer for nodes the peer returns up to 4 nodes and if you are on ipv4 but any of them are ipv6, you just can't use them. You need to be able to specify if you support ipv4, ipv6 or both in `getnodes`.

[2015-09-09 09:11] zen2 commented on #1418
I understand people that think edit message feature is a bad thing for integrity, complexity, ...
But there is reality and usage. I've worked a lot with skype to communicate with team mates and edit feature is not used because we don't think first. Edit feature permits:
- to fix important typo that could lead to misinterpretation (especially for langage that use accents)
- to re-arrange layout of

[2015-09-09 09:54] passiweinberger opened #1421 "ubuntu git link for libvpx not working"

[2015-09-09 09:54] passiweinberger commented on #1421
fixed by #1420

[2015-09-09 12:10] storrgie commented on #1412
@tblah It's awesome you're doing those, I think there is moves to make the jenkins server build RPMs for the tox clients, someone might want to peek at your spec files.

I think for clients like qTox that have ffmpeg dependency that you'd actually be in violation of copr policies for building/hosting. So it will be essential for the Tox project to build their own packages and host their own truste

[2015-09-09 14:19] neilnelson opened #1422 "Hacking port 33445"
For example, upon turning my computer on this morning and before starting uTox I was getting a steady stream of udp packets, several a second, to Tox port 33445 from two IPs I do not have contacts on. Since Tox is P2P perhaps there is a valid reason for the traffic but at the moment I am blocking this traffic. Let me know otherwise.

[2015-09-09 15:10] LapFox commented on #1422
This is known as the DHT. These are the nodes which connect you to the network so you can receive friend requests from people

[2015-09-09 15:47] o-jasper commented on #1418
Regardless if the messengers should do it,(imo they should not, or at least store all versions, but then overcomplicating) IMO it shouldnt be a core issue.. Core should provide communications, and have a layer ontop of it which defines how those are used to implement a chat. (and perhaps other layers defining other things) #1403 is a suggestion to make the core flexible enough to do so.(and i basi

[2015-09-09 15:56] neilnelson commented on #1422
I will let the traffic through. Another curious aspect is that it looks like Tox traffic is running consistently around 30k bytes/second, with a wide range, and sometimes peaks around 100k bytes/second which seems a little high.

[2015-09-09 19:24] LittleVulpix commented on #1422
@neilnelson This is also normal (sort of) because since there is no centralization, the nodes must actively partake in (re)distributing the traffic. To decrease the data usage, you can enable tcp-only mode - but this slows down file transfers as you then rely on other nodes in the tox network to relay all of your traffic even though you could for example make a direct connection with the person yo

[2015-09-09 20:32] neilnelson commented on #1422
Perhaps there is a page giving detail on what the Tox traffic is. You mentioned that nodes could relay traffic which on initial thought seems unnecessary since it would be easier, immediate, and a common design to just communicate between the two IPs in the communication. I was thinking that the Tox traffic, other than my own initiated Tox traffic, was merely address related information in the man

[2015-09-09 20:57] GrayHatter commented on #1422
@neilnelson the only traffic you'll ever relay for other users is DHT traffic. That is traffic only used to help locate contacts.

[2015-09-09 21:13] LittleVulpix commented on #1422
I believe that if you use tcp-only mode, you are having other nodes not only relay DHT traffic but also your encrypted traffic, for example if you send a file to someone whilst in a tcp-only mode, your traffic will appear to the target to be coming from one of the nodes along the way (I am actually not sure myself how these are chosen, perhaps it's only the bootstrap nodes or nodes that are runnin

[2015-09-09 22:41] GrayHatter commented on #1418
@o-jasper what if core provided a method JUST to unique and identify messages? That wouldn't be core doing anything expecting enforcing a way for clients to reference messages. @irungentoo has said that tox will ALWAYS be a communication backbone, so why not add in a feature that allows for clearer communication; the ability to reference a unique message without ambiguity.

[2015-09-09 23:23] o-jasper commented on #1403
@GrayHatter maybe better for the other thread. You mean that what i say goes a bit far? I.e. that it should basically just be `send_lossless_packet` and `send_lossy_packet`?(plus the bootstrapping, friend handling stuff of course)

I think that goes too far imo it should at least help standardize identifying which stream is what. I.e. `send_lossless_packet` and `send_lossy_packet` plus an identifi

[2015-09-09 23:25] o-jasper commented on #1418
(i responded to that in #1403)

[2015-09-10 00:31] tblah commented on #1412
Good point about ffmpeg. Where should I send my spec files?

[2015-09-10 00:37] Zer0-One commented on #1412
@tblah mind posting what you have to the dev mailing list?

[2015-09-10 09:55] zetok commented on #1412
@tblah you may be interested in adding that to https://wiki.tox.chat/community_builds

[2015-09-11 09:45] x368 opened #1424 "how intrusive would be to limit the use of crypto API to that of TweetNaCl?"
Compatibility with TweetNaCl would make the core both more portable and more compact (resulting in either a smaller dependency or fewer dependencies, the crypto code could be included at a very small cost).

If really desired for performance, which I doubt, the packager could always replace tweetnacl with libnacl or libsodium which means no new constraints would be introduced.

What I notice in to

[2015-09-11 10:14] x368 commented on #1418
@zen2 you say "by definition a friend is trusted" but your contacts are not by definition your friends, the argument is misdirected.

Concerning paranoia or not: a secure messenger can by definition of security not enforce features incompatible with paranoia :)

Generally speaking, It would be certainly somewhat attractive to allow modification of the messages retroactively if the user __both keep

[2015-09-11 14:03] aaannndddyyy commented on #1220
still happens with latest core. A 2 MB file caused 20 disconnects. It's really no fun.

But an obersation: utox is more affected by this than qtox, it seems.

The user in the first column has fast internet, the user in the seocnd column a rather slow one
utox : utox   -  many disconnects already after a few seconds
utox : qtox   -  many disconnects
qtox : qtox   -  no disconnects at all even with

[2015-09-11 14:12] aaannndddyyy commented on #1349
Still happens. Only fix is to reconnect.

[2015-09-11 17:06] zen2 commented on #1418
@x368: I was speaking about friends/trust/paranoia as reference to precedent messages. I realize I should have use citations. Happily your answer is not a flame but construct :)

I think skype implementation is not so bad:
- permit to modify only the last message by pressing up key and display message on a light yellow background.
- keep always the last message version in log
- display a little pe

[2015-09-12 15:21] SkyzohKeyx commented on #1418
This is a really hacky-way to do it, toxcore should handle it, it's not to the clients to make their own specs, if irungentoo said that Toxcore will stay a messaging lib, then it should support this.

[2015-09-12 16:18] x368 commented on #1418
Note that I meant nothing else than

which means that it is __not__ a client choice but common for all of them, at the same time without putting the _implementation_ into the core.

What is "hacky-wacky" with this?

Separation is good for reliability, auditability, maintainability and more. Message manipulation can be easily separated and done on a different, higher level than message passing.

Ou

[2015-09-12 18:03] RomanHargrave opened #1425 "Documentation is not easily available"
I am unable to find pre-assembled documentation for the toxcore api _anywhere_. This is quite frustrating.

From what I understand, it was published on the `libtoxcore.so` domain before recent incidents occurred with regards to project management.

I am trying to implement a Tox XMPP component, but doing so without documentation is not feasible. Additionally, the default autotools configuration do

[2015-09-12 18:17] irungentoo commented on #1424
I could replace the sha256 with using only the first 256 bits of sha512 but tweetNaCl is too slow to be of any use (I built toxcore with it once to test something).

[2015-09-12 18:18] suhr commented on #1425
Actually, see https://github.com/irungentoo/toxcore/blob/master/toxcore/tox.h.

[2015-09-12 18:22] RomanHargrave commented on #1425
That's what I have been looking at @suhr. That being said, it would be nice to actually have that in PDF/HTML form; however neither Sphinx (the tool used to generate the now-dead documentation) nor Doxygen (the standard too that would appear to recognise this format) output meaningful documentation, and there is no configuration for either tool present in the repository.

What would ultimately be

[2015-09-12 22:48] cmotc commented on #1425
@RomanHargrave I'm working on figuring out a way to do exactly this(I also used libtoxcore.so extensively). I've been on a business trip all week, but I'll see what I can do about it as soon as I get back home.

[2015-09-12 23:16] o-jasper commented on #1418
I keep referencing that other issue, but the idea of "calling a function on the other side" and a command is essentially the same. Both have a return value too. However, the "calling function on other side" has to know which the return value is, whereas a command not so much.

So perhaps it is double-effort when you have both a (non binary) data transfer protocol. Rolling them into one presumably

[2015-09-13 10:31] x368 commented on #1424
Your result sounds quite unexpected. Even ECC is relatively lightweight nowadays (especially if the machine is supposed to cope with video coding). Are you sure this was tweetnacl fault, not some other circumstance?

What I read at different places about tweetnacl is that it is quite fast. I expect it to be on par with nacl-without-assembler. I have been testing and using tox with nacl specially c

[2015-09-13 11:25] x368 commented on #1418
@o-jasper It looks like you treat communication as a special case of a general "remote procedure call" setup. While technically this is a totally legitimate approach, from the security point of view it is hardly a proper/safe one.

Communication is about to transfer some data and let the other side interpret it (e.g. possibly plainly ignore). The delivery involves of course a certain dialogue but

[2015-09-13 12:21] o-jasper commented on #1418
Afaics the RPC part is merely about having a standard way of unpacking the data, and a standard way to respond. It *improves* security in that regard, because the unpacking bit. (this is easier in lua, in C you need a lib "to make that table"..)

Otherwise, afaics, security is entirely up to the functions that are exposed.

You could think, oh, but then you'll make a dozen of these RPC, way too re

[2015-09-13 14:24] x368 commented on #1418
This was not my point. I suggest _not_ forming anything that reminds of RPC, either in the particular case or otherwise. (IOW: If you feel that something is going to look like RPC, from my point of view this means that this "something" should be rethought. :)

In the scope of this issue I am pretty convinced that no changes in toxcore are necesary to fully implement the desired functionality in a

[2015-09-13 18:27] o-jasper commented on #1418
In the end you'll always implement something "if this message comes in, do this", and that is what RPC is. So if it is so bug-prone, you better do it *once*.

[2015-09-13 19:14] x368 commented on #1418
This reasoning ignores a very important difference. In RPC the _caller_ chooses what happens, an RPC call is an order to serve. In communication it is up to the _recipient_ to decide what to do with the data, _if anything_.

The difference is enormous from the security point of view. __That's why__ the "RPC thinking" and the corresponding design are dangerous.

A regrettable example of the same ki

[2015-09-13 19:37] o-jasper commented on #1418
The caller has *no* power over what functions are exposed behind them. Whether the system gets fucked up is entirely up to the functions exposed. I..e notsecure/uTox#1126 exposes a function taking the alias for granted in qtox, that is not very good. The *exposed function* does something that is not quite right.

*All* it does is unpack the data, and correspond calls to their responses. There is n

[2015-09-13 19:43] GrayHatter commented on #1418
You guys have veered WAY off topic. You're arguing about the formatting of
sending information that's already gone/going across.

The question at hand, is whether or not toxcore should handle altering
messages. And an even simpler question is, should toxcore assign a unique
ID to messages?
On Sep 13, 2015 12:37 PM, "Jasper den Ouden" <notifications@github.com>
wrote:

[2015-09-13 20:26] x368 commented on #1418
@GrayHatter Well it became almost offtopic but is relevant because the topic is about three things:

* whether the new feature is useful enough to implement it (the consensus looks like "useful and acceptable as long as it is optional on the receiving side, either by opt-in or opt-out")

* whether the feature is to be implemented as an extension of  the existing protocol (which apparently changes

[2015-09-14 08:06] x368 commented on #1418
Copying from https://github.com/Tox/Tox-STS/issues/73 :

[2015-09-14 12:32] LapFox commented on #1425
There is also now https://github.com/Tox-Docs/Text which covers protocol spec, but as for API implementation documentation, not sure what other resources are availible.

[2015-09-14 16:59] ovalseven8 opened #1426 "Blank username after deletion"
Hello,

because it seems to be a toxcore issue:
Could you fix it, @irungentoo?

More information: https://github.com/tux3/qTox/issues/1967

[2015-09-15 16:44] Chuongv commented on #1425
I believe you folks are looking for this? https://github.com/Tox/Tox-Docs/blob/master/getting_started_in_c.rst

[2015-09-15 16:51] ovalseven8 commented on #1426
@tux3 built the small patch as you can see. :+1:

Additionally he wrote the following:

Is this the desired behaviour? Or is there a even better solution in sight?

Because the Tox wiki says the following:

If you remove someone, they will see you go offline, as if you closed client normally. They can't communicate with you any longer until you add them to your friend list again.

[2015-09-15 17:00] bashrc commented on #1398
I've recently started running Tox inside of a mesh network - the Freedombone mesh - and so I can confirm that it can be deployed in a completely distributed manner (each peer is also a bootstrap node). Peers can add all others to their DHTnodes list, or if the network was very large they could use a random sample and still have a good chance of being able to easily connect to other Tox IDs.

[2015-09-15 17:47] RomanHargrave commented on #1425
@Chuongv no, while that is helpful, it is not a documentation sheet that reflects the documentation comments spread across the libtoxcore source.

[2015-09-16 02:06] #1426 closed

[2015-09-16 08:34] Renha commented on #1325
https://jenkins.libtoxcore.so/view/Libs/ isn't accessible as for now

[2015-09-16 09:18] Impyy commented on #1325
We no longer use libtoxcore.so, try https://build.tox.chat/view/libtoxcore/ instead.

[2015-09-16 10:55] Renha commented on #1325
well thank you!

[2015-09-17 00:32] TheElf opened #1429 "GitHub Wiki Pages"
Links on the wiki homepage are broken, They still point to the old domain wiki.tox.im rather than wiki.tox.chat

easy fix. just wasn't able to edit it myself

[2015-09-17 01:16] TheElf opened #1430 "Display names in client controlled by remote user"
A small security concern here,

While users will always have a unique Tox Id, it is worth noting that as it stands now, a user's name is controlled by the user themselves.

This means that a user may change their name unexpectedly causing confusion. The only current defense for this is to only add friends that you trust not to do this, but I think a more elegant way to deal with this is to allow u

[2015-09-17 08:56] ameenross commented on #1430
Probaby a duplicate of #756

[2015-09-17 15:27] TheElf commented on #1430
yea, you're totally right. thanks for using the search feature better than I did.

Closing as duplicate.